Repository ngrx/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: Project: ngrx.io, Project: Example App, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

.github/labeler.yml:

# Add 'Project: ngrx.io' label to any ngrx.io file changes
'Project: ngrx.io':
  - projects/ngrx.io/*
  - projects/ngrx.io/**/*

# Add 'Project: Example App' label to any example-app file changes
'Project: Example App':
  - projects/example-app/*
  - projects/example-app/**/*

# Add 'Project: Component' label to any change within the 'component' package
'Project: Component':
  - modules/component/*
  - modules/component/**/*

# Add 'Project: Component Store' label to any change within the 'component-store' package
'Project: Component Store':
  - modules/component-store/*
  - modules/component-store/**/*

# Add 'Project: Data' label to any change within the 'data' package
'Project: Data':
  - modules/data/*
  - modules/data/**/*

# Add 'Project: Effects' label to any change within the 'effects' package
'Project: Effects':
  - modules/effects/*
  - modules/effects/**/*

# Add 'Project: Entity' label to any change within the 'entity' package
'Project: Entity':
  - modules/entity/*
  - modules/entity/**/*

# Add 'Project: Router Store' label to any change within the 'router-store' package
'Project: Router Store':
  - modules/router-store/*
  - modules/router-store/**/*

# Add 'Project: Schematics' label to any change within the 'schematics' package
'Project: Schematics':
  - modules/schematics/*
  - modules/schematics/**/*

# Add 'Project: Store' label to any change within the 'store' package
'Project: Store':
  - modules/store/*
  - modules/store/**/*

# Add 'Project: Store Devtools' label to any change within the 'store-devtools' package
'Project: Store Devtools':
  - modules/store-devtools/*
  - modules/store-devtools/**/*

# Add 'dependencies' label to any change to npm or yarn related stuff
dependencies:
  - package.json
  - yarn.lock

docs(signals): add FAQ (#4193)
  projects/ngrx.io/content/guide/signals/faq.md
  projects/ngrx.io/content/navigation.json
  projects/ngrx.io/src/styles/2-modules/details/_details-theme.scss
  projects/ngrx.io/src/styles/2-modules/details/_details.scss
Labels: Project: ngrx.io

docs(signals): add answers on SignalStore type and constructor-based DI
  projects/ngrx.io/content/guide/signals/faq.md
Labels: Project: ngrx.io

docs(signals): improve guide for custom SignalStore features
  projects/ngrx.io/content/guide/signals/signal-store/custom-store-features.md
Labels: Project: ngrx.io

docs(signals): improve guide for custom SignalStore features (#4204)
  projects/ngrx.io/content/guide/signals/signal-store/custom-store-features.md
Labels: Project: ngrx.io

docs(signals): improve SignalStore's Core Concepts page
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/faq.md
  projects/ngrx.io/content/guide/signals/faq.md
Labels: Project: ngrx.io

chore: fix wrong link
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

docs(signals): add answers on SignalStore type and constructor-based DI (#4205)
  projects/ngrx.io/content/guide/signals/faq.md
Labels: Project: ngrx.io

chore: fix angle brackets add subtitle for reactive methods
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

docs(signals): improve SignalStore's Core Concepts page (#4207)
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

feat(signals): hooks with injection context
  modules/signals/spec/signal-store.spec.ts
  modules/signals/src/with-hooks.ts
Labels: none

docs(signals): improve RxJS Integration page
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/rxjs-integration.md
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/rxjs-integration.md
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
Labels: Project: ngrx.io

docs: fix typo
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
Labels: Project: ngrx.io

feat(signals): provide store to `HooksFactory` and not to specific hook functions
  modules/signals/spec/signal-store.spec.ts
  modules/signals/src/with-hooks.ts
Labels: none

Update modules/signals/src/with-hooks.ts
  modules/signals/src/with-hooks.ts
Labels: none

Update modules/signals/src/with-hooks.ts
  modules/signals/src/with-hooks.ts
Labels: none

Update modules/signals/spec/signal-store.spec.ts
  modules/signals/spec/signal-store.spec.ts
Labels: none

feat(signals): improve code
  modules/signals/src/with-hooks.ts
Labels: none

feat(signals): use storeProps everywhere
  modules/signals/src/with-hooks.ts
Labels: none

feat(signals): add `withHooks` signature with factory input (#4208)
  modules/signals/spec/signal-store.spec.ts
  modules/signals/src/with-hooks.ts
Labels: none

Update projects/ngrx.io/content/guide/signals/rxjs-integration.md
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
Labels: Project: ngrx.io

docs(signals): improve RxJS Integration page (#4209)
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
Labels: Project: ngrx.io

chore: release 17.1.0
  CHANGELOG.md
  modules/component-store/package.json
  modules/component-store/schematics-core/utility/libs-version.ts
  modules/component/package.json
  modules/component/schematics-core/utility/libs-version.ts
  modules/data/package.json
  modules/data/schematics-core/utility/libs-version.ts
  modules/effects/package.json
  modules/effects/schematics-core/utility/libs-version.ts
  modules/entity/package.json
  modules/entity/schematics-core/utility/libs-version.ts
  modules/eslint-plugin/package.json
  modules/operators/package.json
  modules/operators/schematics-core/utility/libs-version.ts
  modules/router-store/package.json
  modules/router-store/schematics-core/utility/libs-version.ts
  modules/schematics-core/utility/libs-version.ts
  modules/schematics/package.json
  modules/schematics/schematics-core/utility/libs-version.ts
  modules/signals/package.json
  modules/signals/schematics-core/utility/libs-version.ts
  modules/store-devtools/package.json
  modules/store-devtools/schematics-core/utility/libs-version.ts
  modules/store/package.json
  modules/store/schematics-core/utility/libs-version.ts
  package.json
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

feat: continue
  modules/signals/src/with-encapsulation-except.ts
Labels: none

feat: add second version
  modules/signals/src/poc/encapsulated-store.ts
  modules/signals/src/poc/exposed-store.spec.ts
  modules/signals/src/poc/exposed-store.ts
  modules/signals/src/poc/exposed-v2.ts
  modules/signals/src/poc/exposed.models.ts
  modules/signals/src/poc/with-encapsulation.ts
  modules/signals/src/poc/with-exposed.ts
Labels: none

feat(signals): test that readonly and private don't impact internal features
  modules/signals/src/poc/spec/encapsulated-readonly-except.spec.ts
  modules/signals/src/poc/spec/encapsulated-readonly.spec.ts
Labels: none

feat: types
  modules/signals/src/with-encapsulation-except.ts
Labels: none

feat(signals): add further parts
  modules/signals/src/poc/exposed-store.ts
  modules/signals/src/with-encapsulation-except.ts
Labels: none

feat(signals): make readonly working again
  modules/signals/src/poc/encapsulated-store.ts
Labels: none

feat(signals): organize code
  modules/signals/src/poc/exposed-store.spec.ts
  modules/signals/src/poc/exposed-store.ts
  modules/signals/src/poc/exposed-v2.ts
  modules/signals/src/poc/exposed.models.ts
  modules/signals/src/poc/with-exposed.spec.ts
  modules/signals/src/poc/with-exposed.ts
  modules/signals/src/with-encapsulation-except.ts
Labels: none

feat: start with encapsulation
  modules/signals/src/with-encapsulation-except.ts
Labels: none

feat(signals): remove `withEncapsulation`
  modules/signals/src/with-encapsulation-except.ts
Labels: none

feat(signals): final push
  modules/signals/src/poc/encapsulated-store.ts
  modules/signals/src/poc/encapsulated.model.ts
  modules/signals/src/poc/encapsulated.store.ts
  modules/signals/src/poc/exposed-store.spec.ts
  modules/signals/src/poc/exposed-store.ts
  modules/signals/src/poc/exposed-v2.ts
  modules/signals/src/poc/exposed.models.ts
  modules/signals/src/poc/spec/encapsulated-none.spec.ts
  modules/signals/src/poc/spec/encapsulated-private.spec.ts
  modules/signals/src/poc/spec/encapsulated-readonly-except.spec.ts
  modules/signals/src/poc/spec/encapsulated-readonly.spec.ts
  modules/signals/src/poc/spec/test-utils.ts
  modules/signals/src/poc/with-encapsulation.ts
  modules/signals/src/poc/with-exposed.spec.ts
Labels: none

feat(signals): limited working with readonlyExpect
  modules/signals/src/poc/encapsulated-store.ts
Labels: none

Added version 5 of typescript to peerDependencies
  modules/eslint-plugin/package.json
Labels: none

refactor(eslint-plugin): added typescript 5.0.0 to peerDependencies
  modules/eslint-plugin/package.json
Labels: none

fix(store-devtools): remove `unwrapAction`
  modules/store-devtools/src/extension.ts
Labels: Project: Store Devtools

Update modules/eslint-plugin/package.json
  modules/eslint-plugin/package.json
Labels: none
