Repository ngrx/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: Project: ngrx.io, Project: Example App, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

docs: add signals package to the list of supported scopes (#4047)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  CONTRIBUTING.md
Labels: none

feat(data): standalone support for ng add @ngrx/data
  modules/data/schematics/ng-add/__snapshots__/index.spec.ts.snap
  modules/data/schematics/ng-add/index.spec.ts
  modules/data/schematics/ng-add/index.ts
Labels: Project: Data

feat(data): standalone support for ng add @ngrx/data (#4019)
  modules/data/schematics/ng-add/__snapshots__/index.spec.ts.snap
  modules/data/schematics/ng-add/index.spec.ts
  modules/data/schematics/ng-add/index.ts
Labels: Project: Data

docs(store-devtools): add docs for connectOutsideZone option
  projects/ngrx.io/content/guide/store-devtools/config.md
  projects/ngrx.io/content/guide/store-devtools/index.md
Labels: Project: ngrx.io

docs(store-devtools): add connectOutsideZone option usage to StoreDevtoolsModule.instrument example
  projects/ngrx.io/content/guide/store-devtools/index.md
Labels: Project: ngrx.io

docs(component-store): remove the reference to the computed function
  projects/ngrx.io/content/guide/component-store/read.md
Labels: Project: ngrx.io

docs(component-store): make clear what `state` returns
  projects/ngrx.io/content/guide/component-store/read.md
Labels: Project: ngrx.io

docs(component-store): split the sentence for better readability
  projects/ngrx.io/content/guide/component-store/read.md
Labels: Project: ngrx.io

docs(store-devtools): add docs for `connectOutsideZone` option (#4048)
  projects/ngrx.io/content/guide/store-devtools/config.md
  projects/ngrx.io/content/guide/store-devtools/index.md
Labels: Project: ngrx.io

build: enable nx-cloud light client
  nx.json
  package.json
  yarn.lock
Labels: dependencies

build: enable nx-cloud light client (#4051)
  nx.json
  package.json
  yarn.lock
Labels: dependencies

docs(component-store): add docs for `selectSignal` method (#4027)
  projects/ngrx.io/content/guide/component-store/read.md
Labels: Project: ngrx.io

feat(signals): add signalStore and signalStoreFeature
  modules/signals/spec/helpers.ts
  modules/signals/spec/patch-state.spec.ts
  modules/signals/spec/signal-state.spec.ts
  modules/signals/spec/signal-store-feature.spec.ts
  modules/signals/spec/signal-store.spec.ts
  modules/signals/spec/with-hooks.spec.ts
  modules/signals/spec/with-methods.spec.ts
  modules/signals/spec/with-signals.spec.ts
  modules/signals/spec/with-state.spec.ts
  modules/signals/src/helpers.ts
  modules/signals/src/index.ts
  modules/signals/src/patch-state.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store-feature.ts
  modules/signals/src/signal-store-models.ts
  modules/signals/src/signal-store.ts
  modules/signals/src/with-hooks.ts
  modules/signals/src/with-methods.ts
  modules/signals/src/with-signals.ts
  modules/signals/src/with-state.ts
Labels: none

chore: rename test helper to createLocalStore
  modules/signals/spec/helpers.ts
  modules/signals/spec/signal-store.spec.ts
Labels: none

build: migrate to Nx 16.8.0
  package.json
  yarn.lock
Labels: dependencies

chore: formatting
  projects/example-app-e2e/src/integration/round-trip.cy.ts
Labels: none

chore: update example-app snapshots, Nx 16.8.1
  package.json
  projects/example-app/src/app/auth/components/__snapshots__/logout-confirmation-dialog.component.spec.ts.snap
  projects/example-app/src/app/auth/containers/__snapshots__/login-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/__snapshots__/collection-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/__snapshots__/find-book-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/__snapshots__/selected-book-page.component.spec.ts.snap
  yarn.lock
Labels: Project: Example App, dependencies

feat(signals): add signalStore and signalStoreFeature (#4049)
  modules/signals/spec/helpers.ts
  modules/signals/spec/patch-state.spec.ts
  modules/signals/spec/signal-state.spec.ts
  modules/signals/spec/signal-store-feature.spec.ts
  modules/signals/spec/signal-store.spec.ts
  modules/signals/spec/with-hooks.spec.ts
  modules/signals/spec/with-methods.spec.ts
  modules/signals/spec/with-signals.spec.ts
  modules/signals/spec/with-state.spec.ts
  modules/signals/src/helpers.ts
  modules/signals/src/index.ts
  modules/signals/src/patch-state.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store-feature.ts
  modules/signals/src/signal-store-models.ts
  modules/signals/src/signal-store.ts
  modules/signals/src/with-hooks.ts
  modules/signals/src/with-methods.ts
  modules/signals/src/with-signals.ts
  modules/signals/src/with-state.ts
Labels: none

chore: fix snapshots
  projects/example-app/src/app/auth/containers/__snapshots__/login-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/__snapshots__/collection-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/__snapshots__/find-book-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/__snapshots__/selected-book-page.component.spec.ts.snap
Labels: Project: Example App

build: migrate to Nx 16.8.0, Angular v16.2.x (#4039)
  package.json
  projects/example-app-e2e/src/integration/round-trip.cy.ts
  projects/example-app/src/app/auth/components/__snapshots__/logout-confirmation-dialog.component.spec.ts.snap
  projects/example-app/src/app/auth/containers/__snapshots__/login-page.component.spec.ts.snap
  yarn.lock
Labels: Project: Example App, dependencies

Update docs.md
  projects/ngrx.io/content/marketing/docs.md
Labels: Project: ngrx.io

chore: release 16.3.0
  CHANGELOG.md
  modules/component-store/package.json
  modules/component-store/schematics-core/utility/libs-version.ts
  modules/component/package.json
  modules/component/schematics-core/utility/libs-version.ts
  modules/data/package.json
  modules/data/schematics-core/utility/libs-version.ts
  modules/effects/package.json
  modules/effects/schematics-core/utility/libs-version.ts
  modules/entity/package.json
  modules/entity/schematics-core/utility/libs-version.ts
  modules/eslint-plugin/package.json
  modules/router-store/package.json
  modules/router-store/schematics-core/utility/libs-version.ts
  modules/schematics-core/utility/libs-version.ts
  modules/schematics/package.json
  modules/schematics/schematics-core/utility/libs-version.ts
  modules/signals/package.json
  modules/signals/schematics-core/utility/libs-version.ts
  modules/store-devtools/package.json
  modules/store-devtools/schematics-core/utility/libs-version.ts
  modules/store/package.json
  modules/store/schematics-core/utility/libs-version.ts
  package.json
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

fix(signals): do not create nested signals for STATE_SIGNAL property
  modules/signals/spec/signal-state.spec.ts
  modules/signals/src/deep-signal.ts
Labels: none

feat(signals): add rxjs-interop subpackage
  modules/signals/index.ts
  modules/signals/package.json
  modules/signals/project.json
  modules/signals/rxjs-interop/index.ts
  modules/signals/rxjs-interop/ng-package.json
  modules/signals/rxjs-interop/spec/rx-method.spec.ts
  modules/signals/rxjs-interop/src/index.ts
  modules/signals/rxjs-interop/src/rx-method.ts
  modules/signals/spec/helpers.ts
  modules/signals/spec/signal-store.spec.ts
  modules/signals/tsconfig.build.json
  tsconfig.json
Labels: none

fix(signals): do not create nested signals for STATE_SIGNAL property (#4062)
  modules/signals/spec/signal-state.spec.ts
  modules/signals/src/deep-signal.ts
Labels: none

style: fix linting errors
  projects/ngrx.io/src/app/app.component.spec.ts
  projects/ngrx.io/src/app/app.module.ts
  projects/ngrx.io/src/app/custom-elements/ngrx/mff.component.ts
  projects/ngrx.io/src/app/shared/theme-picker/theme-picker.component.ts
Labels: Project: ngrx.io

docs(theme): change dark theme links and code colors
  projects/ngrx.io/src/styles/0-base/_typography-theme.scss
  projects/ngrx.io/src/styles/1-layouts/sidenav/_sidenav-theme.scss
  projects/ngrx.io/src/styles/2-modules/api-list/_api-list-theme.scss
  projects/ngrx.io/src/styles/2-modules/code/_code-theme.scss
  projects/ngrx.io/src/styles/2-modules/toc/_toc-theme.scss
  projects/ngrx.io/src/styles/_constants.scss
Labels: Project: ngrx.io

docs(theme): change color of summary in dark mode
  projects/ngrx.io/src/styles/2-modules/details/_details-theme.scss
Labels: Project: ngrx.io

refactor: use default toObservable function
  modules/signals/rxjs-interop/src/rx-method.ts
Labels: none

feat(signals): add rxjs-interop subpackage (#4061)
  modules/signals/index.ts
  modules/signals/package.json
  modules/signals/project.json
  modules/signals/rxjs-interop/index.ts
  modules/signals/rxjs-interop/ng-package.json
  modules/signals/rxjs-interop/spec/rx-method.spec.ts
  modules/signals/rxjs-interop/src/index.ts
  modules/signals/rxjs-interop/src/rx-method.ts
  modules/signals/spec/helpers.ts
  modules/signals/spec/signal-store.spec.ts
  modules/signals/tsconfig.build.json
  tsconfig.json
Labels: none

feat: upgrade Angular dependencies to v17 pre-release versions
  package.json
  projects/ngrx.io/package.json
  projects/ngrx.io/yarn.lock
  yarn.lock
Labels: Project: ngrx.io, dependencies

refactor: update error messages
  modules/signals/spec/types/signal-state.types.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/patch-state.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/with-state.ts
Labels: none

fix(signals): fix state type and add type tests
  modules/signals/spec/types/helpers.ts
  modules/signals/spec/types/signal-state.types.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/deep-signal.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store-models.ts
  modules/signals/src/with-state.ts
Labels: none

refactor(signals): improve error messages
  modules/signals/spec/types/signal-state.types.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/with-state.ts
Labels: none

fix(signals): do not create deep signals for unknown dictionaries
  modules/signals/spec/types/signal-state.types.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/deep-signal.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store-feature.ts
  modules/signals/src/signal-store-models.ts
  modules/signals/src/ts-helpers.ts
  modules/signals/src/with-hooks.ts
  modules/signals/src/with-methods.ts
  modules/signals/src/with-signals.ts
  modules/signals/src/with-state.ts
Labels: none

fix: update jest-preset-angular package
  package.json
  yarn.lock
Labels: dependencies

chore: exclude project.json files from schematics copy
  build/tasks.ts
Labels: none

fix: add support for application builder
  modules/component-store/schematics-core/utility/project.ts
  modules/component/schematics-core/utility/project.ts
  modules/data/schematics-core/utility/project.ts
  modules/effects/schematics-core/utility/project.ts
  modules/entity/schematics-core/utility/project.ts
  modules/router-store/schematics-core/utility/project.ts
  modules/schematics-core/testing/create-workspace.ts
  modules/schematics-core/utility/project.ts
  modules/schematics/schematics-core/utility/project.ts
  modules/signals/schematics-core/utility/project.ts
  modules/store-devtools/schematics-core/utility/project.ts
  modules/store/schematics-core/utility/project.ts
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools

chore: temp disable ngCore mocks due to jest issue
  modules/entity/spec/utils.spec.ts
  modules/schematics/src/container/__snapshots__/index.spec.ts.snap
  modules/store/spec/runtime_checks.spec.ts
  modules/store/spec/selector.spec.ts
Labels: Project: Entity, Project: Schematics, Project: Store

fix(signals): improve state type and add type tests (#4064)
  modules/signals/spec/types/helpers.ts
  modules/signals/spec/types/signal-state.types.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/deep-signal.ts
  modules/signals/src/patch-state.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store-feature.ts
  modules/signals/src/signal-store-models.ts
  modules/signals/src/ts-helpers.ts
  modules/signals/src/with-hooks.ts
  modules/signals/src/with-methods.ts
  modules/signals/src/with-signals.ts
  modules/signals/src/with-state.ts
Labels: none

.github/labeler.yml:

# Add 'Project: ngrx.io' label to any ngrx.io file changes
'Project: ngrx.io':
  - projects/ngrx.io/*
  - projects/ngrx.io/**/*

# Add 'Project: Example App' label to any example-app file changes
'Project: Example App':
  - projects/example-app/*
  - projects/example-app/**/*

# Add 'Project: Component' label to any change within the 'component' package
'Project: Component':
  - modules/component/*
  - modules/component/**/*

# Add 'Project: Component Store' label to any change within the 'component-store' package
'Project: Component Store':
  - modules/component-store/*
  - modules/component-store/**/*

# Add 'Project: Data' label to any change within the 'data' package
'Project: Data':
  - modules/data/*
  - modules/data/**/*

# Add 'Project: Effects' label to any change within the 'effects' package
'Project: Effects':
  - modules/effects/*
  - modules/effects/**/*

# Add 'Project: Entity' label to any change within the 'entity' package
'Project: Entity':
  - modules/entity/*
  - modules/entity/**/*

# Add 'Project: Router Store' label to any change within the 'router-store' package
'Project: Router Store':
  - modules/router-store/*
  - modules/router-store/**/*

# Add 'Project: Schematics' label to any change within the 'schematics' package
'Project: Schematics':
  - modules/schematics/*
  - modules/schematics/**/*

# Add 'Project: Store' label to any change within the 'store' package
'Project: Store':
  - modules/store/*
  - modules/store/**/*

# Add 'Project: Store Devtools' label to any change within the 'store-devtools' package
'Project: Store Devtools':
  - modules/store-devtools/*
  - modules/store-devtools/**/*

# Add 'dependencies' label to any change to npm or yarn related stuff
dependencies:
  - package.json
  - yarn.lock
