Repository ngrx/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: Project: ngrx.io, Project: Example App, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

.github/labeler.yml:

# Add 'Project: ngrx.io' label to any ngrx.io file changes
'Project: ngrx.io':
  - projects/ngrx.io/*
  - projects/ngrx.io/**/*

# Add 'Project: Example App' label to any example-app file changes
'Project: Example App':
  - projects/example-app/*
  - projects/example-app/**/*

# Add 'Project: Component' label to any change within the 'component' package
'Project: Component':
  - modules/component/*
  - modules/component/**/*

# Add 'Project: Component Store' label to any change within the 'component-store' package
'Project: Component Store':
  - modules/component-store/*
  - modules/component-store/**/*

# Add 'Project: Data' label to any change within the 'data' package
'Project: Data':
  - modules/data/*
  - modules/data/**/*

# Add 'Project: Effects' label to any change within the 'effects' package
'Project: Effects':
  - modules/effects/*
  - modules/effects/**/*

# Add 'Project: Entity' label to any change within the 'entity' package
'Project: Entity':
  - modules/entity/*
  - modules/entity/**/*

# Add 'Project: Router Store' label to any change within the 'router-store' package
'Project: Router Store':
  - modules/router-store/*
  - modules/router-store/**/*

# Add 'Project: Schematics' label to any change within the 'schematics' package
'Project: Schematics':
  - modules/schematics/*
  - modules/schematics/**/*

# Add 'Project: Store' label to any change within the 'store' package
'Project: Store':
  - modules/store/*
  - modules/store/**/*

# Add 'Project: Store Devtools' label to any change within the 'store-devtools' package
'Project: Store Devtools':
  - modules/store-devtools/*
  - modules/store-devtools/**/*

# Add 'dependencies' label to any change to npm or yarn related stuff
dependencies:
  - package.json
  - yarn.lock

fix: add zone.js workaround form mocking in tests
  modules/entity/spec/utils.spec.ts
  modules/entity/test-setup.ts
  modules/store/spec/runtime_checks.spec.ts
  modules/store/spec/selector.spec.ts
  modules/store/test-setup.ts
Labels: Project: Entity, Project: Store

test(signals): add missing test for signalState
  modules/signals/spec/signal-state.spec.ts
Labels: none

feat: upgrade Angular dependencies to v17 pre-release versions (#4068)
  build/tasks.ts
  modules/component-store/schematics-core/utility/project.ts
  modules/component/schematics-core/utility/project.ts
  modules/data/schematics-core/utility/project.ts
  modules/effects/schematics-core/utility/project.ts
  modules/entity/schematics-core/utility/project.ts
  modules/entity/test-setup.ts
  modules/router-store/schematics-core/utility/project.ts
  modules/schematics-core/testing/create-workspace.ts
  modules/schematics-core/utility/project.ts
  modules/schematics/schematics-core/utility/project.ts
  modules/schematics/src/container/__snapshots__/index.spec.ts.snap
  modules/signals/schematics-core/utility/project.ts
  modules/store-devtools/schematics-core/utility/project.ts
  modules/store/schematics-core/utility/project.ts
  modules/store/spec/selector.spec.ts
  modules/store/test-setup.ts
  package.json
  projects/ngrx.io/package.json
  projects/ngrx.io/yarn.lock
  yarn.lock
Labels: Project: ngrx.io, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

feat(effects): deprecate act operator
  modules/effects/src/act.ts
Labels: Project: Effects

fix(entity): set correct return type for getSelectors signature with parent selector
  modules/entity/src/models.ts
  modules/entity/src/state_selectors.ts
Labels: Project: Entity

chore(signals): fix test setup
  modules/signals/test-setup.ts
Labels: none

feat(signals): remove selectSignal and rename withSignals to withComputed
  modules/signals/spec/select-signal.spec.ts
  modules/signals/spec/signal-store-feature.spec.ts
  modules/signals/spec/signal-store.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/spec/with-computed.spec.ts
  modules/signals/spec/with-methods.spec.ts
  modules/signals/spec/with-state.spec.ts
  modules/signals/src/deep-signal.ts
  modules/signals/src/index.ts
  modules/signals/src/select-signal.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store.ts
  modules/signals/src/with-computed.ts
  modules/signals/src/with-state.ts
Labels: none

docs(theme): use native scrollbar
  projects/ngrx.io/src/styles/2-modules/_index.scss
  projects/ngrx.io/src/styles/2-modules/scrollbar/_scfrollbar-theme.scss
  projects/ngrx.io/src/styles/2-modules/scrollbar/_scrollbar.scss
Labels: Project: ngrx.io

docs: use native scrollbar (#4076)
  projects/ngrx.io/src/styles/2-modules/_index.scss
  projects/ngrx.io/src/styles/2-modules/scrollbar/_scfrollbar-theme.scss
  projects/ngrx.io/src/styles/2-modules/scrollbar/_scrollbar.scss
Labels: Project: ngrx.io

refactor(component-store): remove default equality function
  modules/component-store/src/component-store.ts
Labels: Project: Component Store

refactor(store): remove default equality function
  modules/store/src/store.ts
Labels: Project: Store

test(signals): add missing test for signalState (#4071)
  modules/signals/spec/signal-state.spec.ts
  modules/signals/test-setup.ts
Labels: none

feat(effects): deprecate act operator (#4073)
  modules/effects/src/act.ts
Labels: Project: Effects

feat(signals): remove selectSignal and rename withSignals to withComputed (#4075)
  modules/signals/spec/select-signal.spec.ts
  modules/signals/spec/signal-store-feature.spec.ts
  modules/signals/spec/signal-store.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/spec/with-computed.spec.ts
  modules/signals/spec/with-methods.spec.ts
  modules/signals/spec/with-state.spec.ts
  modules/signals/src/deep-signal.ts
  modules/signals/src/index.ts
  modules/signals/src/select-signal.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store.ts
  modules/signals/src/with-computed.ts
  modules/signals/src/with-state.ts
Labels: none

fix(entity): set correct return type for getSelectors signature with parent selector (#4074)
  modules/entity/src/models.ts
  modules/entity/src/state_selectors.ts
Labels: Project: Entity

test(signals): verify that patchState does not emit on empty change
  modules/signals/spec/patch-state.spec.ts
Labels: none

test(signals): move test to signal-state file
  modules/signals/spec/patch-state.spec.ts
  modules/signals/spec/signal-state.spec.ts
Labels: none

test(signals): replace `testEffects` with native `TestBed`
  modules/signals/rxjs-interop/spec/rx-method.spec.ts
  modules/signals/spec/helpers.ts
  modules/signals/spec/patch-state.spec.ts
  modules/signals/spec/select-signal.spec.ts
  modules/signals/spec/signal-state.spec.ts
Labels: none

test(signals): remove select-signal.spec.ts
  modules/signals/spec/select-signal.spec.ts
Labels: none

refactor(store): remove default equality function (#4080)
  modules/store/src/store.ts
Labels: Project: Store

refactor(component-store): remove default equality function (#4079)
  modules/component-store/src/component-store.ts
Labels: Project: Component Store

Update entity-dispatcher-base.ts
  modules/data/src/dispatchers/entity-dispatcher-base.ts
Labels: Project: Data

docs(data): add warning about maintenance mode
  projects/ngrx.io/content/guide/data/architecture-overview.md
  projects/ngrx.io/content/guide/data/entity-actions.md
  projects/ngrx.io/content/guide/data/entity-change-tracker.md
  projects/ngrx.io/content/guide/data/entity-collection-service.md
  projects/ngrx.io/content/guide/data/entity-collection.md
  projects/ngrx.io/content/guide/data/entity-dataservice.md
  projects/ngrx.io/content/guide/data/entity-effects.md
  projects/ngrx.io/content/guide/data/entity-metadata.md
  projects/ngrx.io/content/guide/data/entity-reducer.md
  projects/ngrx.io/content/guide/data/entity-services.md
  projects/ngrx.io/content/guide/data/extension-points.md
  projects/ngrx.io/content/guide/data/faq.md
  projects/ngrx.io/content/guide/data/index.md
  projects/ngrx.io/content/guide/data/install.md
  projects/ngrx.io/content/guide/data/limitations.md
  projects/ngrx.io/content/guide/data/save-entities.md
Labels: Project: ngrx.io

feat(component): remove LetModule
  modules/component/spec/let/let.module.spec.ts
  modules/component/src/index.ts
  modules/component/src/let/let.directive.ts
  modules/component/src/let/let.module.ts
Labels: Project: Component

docs(component): remove LetModule
  projects/ngrx.io/content/guide/component/let.md
Labels: Project: ngrx.io

feat(component): remove PushModule
  modules/component/spec/push/push.module.spec.ts
  modules/component/src/index.ts
  modules/component/src/push/push.module.ts
  modules/component/src/push/push.pipe.ts
Labels: Project: Component

docs(component): remove PushModule
  projects/ngrx.io/content/guide/component/push.md
Labels: Project: ngrx.io

docs: remove NgModule doc tag processor
  projects/ngrx.io/tools/transforms/angular-api-package/index.js
  projects/ngrx.io/tools/transforms/angular-api-package/processors/processNgModuleDocs.js
  projects/ngrx.io/tools/transforms/angular-api-package/processors/processNgModuleDocs.spec.js
Labels: Project: ngrx.io

docs: remove NgModule doc tag processor
  projects/ngrx.io/tools/transforms/angular-api-package/index.js
  projects/ngrx.io/tools/transforms/angular-api-package/processors/processNgModuleDocs.js
  projects/ngrx.io/tools/transforms/angular-api-package/processors/processNgModuleDocs.spec.js
Labels: Project: ngrx.io

docs(component): remove link to module in v15 migration
  projects/ngrx.io/content/guide/migration/v15.md
Labels: Project: ngrx.io

docs(component): remove link to module in v15 migration
  projects/ngrx.io/content/guide/migration/v15.md
Labels: Project: ngrx.io

docs: remove NgModules from API docs if not available
  projects/ngrx.io/tools/transforms/templates/api/includes/ngmodule.html
Labels: Project: ngrx.io

feat(signals): add entities subpackage
  modules/signals/.eslintrc.json
  modules/signals/entities/index.ts
  modules/signals/entities/ng-package.json
  modules/signals/entities/spec/with-entities.spec.ts
  modules/signals/entities/src/helpers.ts
  modules/signals/entities/src/index.ts
  modules/signals/entities/src/models.ts
  modules/signals/entities/src/updaters/add-entities.ts
  modules/signals/entities/src/updaters/add-entity.ts
  modules/signals/entities/src/updaters/remove-all-entities.ts
  modules/signals/entities/src/updaters/remove-entities.ts
  modules/signals/entities/src/updaters/remove-entity.ts
  modules/signals/entities/src/updaters/set-all-entities.ts
  modules/signals/entities/src/updaters/set-entities.ts
  modules/signals/entities/src/updaters/set-entity.ts
  modules/signals/entities/src/updaters/update-all-entities.ts
  modules/signals/entities/src/updaters/update-entities.ts
  modules/signals/entities/src/updaters/update-entity.ts
  modules/signals/entities/src/with-entities.ts
  modules/signals/project.json
  modules/signals/src/index.ts
  modules/signals/src/patch-state.ts
  tsconfig.json
Labels: none

test(signals): add tests for entity subpackage
  modules/signals/entities/spec/mocks.ts
  modules/signals/entities/spec/updaters/add-entities.spec.ts
  modules/signals/entities/spec/updaters/add-entity.spec.ts
  modules/signals/entities/spec/updaters/remove-all-entities.spec.ts
  modules/signals/entities/spec/updaters/remove-entities.spec.ts
  modules/signals/entities/spec/updaters/remove-entity.spec.ts
  modules/signals/entities/spec/updaters/set-all-entities.spec.ts
  modules/signals/entities/spec/updaters/set-entities.spec.ts
  modules/signals/entities/spec/updaters/set-entity.spec.ts
  modules/signals/entities/spec/updaters/update-all-entities.spec.ts
  modules/signals/entities/spec/updaters/update-entities.spec.ts
  modules/signals/entities/spec/updaters/update-entity.spec.ts
  modules/signals/entities/spec/with-entities.spec.ts
  modules/signals/entities/src/helpers.ts
  modules/signals/entities/src/updaters/add-entities.ts
  modules/signals/entities/src/updaters/add-entity.ts
  modules/signals/entities/src/updaters/remove-all-entities.ts
  modules/signals/entities/src/updaters/remove-entities.ts
  modules/signals/entities/src/updaters/remove-entity.ts
  modules/signals/entities/src/updaters/set-all-entities.ts
  modules/signals/entities/src/updaters/set-entities.ts
  modules/signals/entities/src/updaters/set-entity.ts
  modules/signals/entities/src/updaters/update-all-entities.ts
  modules/signals/entities/src/updaters/update-entities.ts
  modules/signals/entities/src/updaters/update-entity.ts
  modules/signals/entities/src/with-entities.ts
Labels: none

test(signals): verify that rxMethod throws error when called out of DI ctx
  modules/signals/rxjs-interop/spec/rx-method.spec.ts
Labels: none

docs(data): add warning about maintenance mode (#4083)
  projects/ngrx.io/content/guide/data/architecture-overview.md
  projects/ngrx.io/content/guide/data/entity-actions.md
  projects/ngrx.io/content/guide/data/entity-change-tracker.md
  projects/ngrx.io/content/guide/data/entity-collection-service.md
  projects/ngrx.io/content/guide/data/entity-collection.md
  projects/ngrx.io/content/guide/data/entity-dataservice.md
  projects/ngrx.io/content/guide/data/entity-effects.md
  projects/ngrx.io/content/guide/data/entity-metadata.md
  projects/ngrx.io/content/guide/data/entity-reducer.md
  projects/ngrx.io/content/guide/data/entity-services.md
  projects/ngrx.io/content/guide/data/extension-points.md
  projects/ngrx.io/content/guide/data/faq.md
  projects/ngrx.io/content/guide/data/index.md
  projects/ngrx.io/content/guide/data/install.md
  projects/ngrx.io/content/guide/data/limitations.md
  projects/ngrx.io/content/guide/data/save-entities.md
Labels: Project: ngrx.io

test(signals): add test with provided injector
  modules/signals/rxjs-interop/spec/rx-method.spec.ts
Labels: none

test(signals): add missing tests for `rxMethod` (#4091)
  modules/signals/rxjs-interop/spec/rx-method.spec.ts
Labels: none

docs(component): remove PushModule
  projects/ngrx.io/content/guide/component/push.md
Labels: Project: ngrx.io

docs(component): remove link to module in v15 migration
  projects/ngrx.io/content/guide/migration/v15.md
Labels: Project: ngrx.io
