Repository ngrx/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: Project: ngrx.io, Project: Example App, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

chore: update Angular ESLint version (#4295)
  package.json
  yarn.lock
Labels: dependencies

chore: release 17.2.0
  CHANGELOG.md
  modules/component-store/package.json
  modules/component-store/schematics-core/utility/libs-version.ts
  modules/component/package.json
  modules/component/schematics-core/utility/libs-version.ts
  modules/data/package.json
  modules/data/schematics-core/utility/libs-version.ts
  modules/effects/package.json
  modules/effects/schematics-core/utility/libs-version.ts
  modules/entity/package.json
  modules/entity/schematics-core/utility/libs-version.ts
  modules/eslint-plugin/package.json
  modules/operators/package.json
  modules/operators/schematics-core/utility/libs-version.ts
  modules/router-store/package.json
  modules/router-store/schematics-core/utility/libs-version.ts
  modules/schematics-core/utility/libs-version.ts
  modules/schematics/package.json
  modules/schematics/schematics-core/utility/libs-version.ts
  modules/signals/package.json
  modules/signals/schematics-core/utility/libs-version.ts
  modules/store-devtools/package.json
  modules/store-devtools/schematics-core/utility/libs-version.ts
  modules/store/package.json
  modules/store/schematics-core/utility/libs-version.ts
  package.json
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

docs(store): include example code for using overrideSelector #4100
  projects/ngrx.io/content/examples/store-walkthrough/src/app/tests/app.component.1.spec.ts
Labels: Project: ngrx.io

docs(signals): improve example code snipped for rxMethod
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/index.md
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

docs(store): include example code for using overrideSelector (#4298)
  projects/ngrx.io/content/examples/store-walkthrough/src/app/tests/app.component.1.spec.ts
Labels: Project: ngrx.io

docs(signals): improve example code snipped for rxMethod (#4300)
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

docs(operators): fix imports paths in examples in concat_latest_from.ts
  modules/operators/src/concat_latest_from.ts
Labels: none

docs(operators): fix imports paths in examples in concat_latest_from.ts (#4306)
  modules/operators/src/concat_latest_from.ts
Labels: none

fix(schematics): default value type
  modules/schematics/src/feature/schema.json
Labels: Project: Schematics

fix(schematics): set correct default value type (#4307)
  modules/schematics/src/feature/schema.json
Labels: Project: Schematics

feat: upgrade Angular dependencies to v18 pre-release versions
  .circleci/config.yml
  .nvmrc
  modules/component-store/schematics-core/utility/standalone.ts
  modules/component/schematics-core/utility/standalone.ts
  modules/data/schematics-core/utility/standalone.ts
  modules/data/schematics/ng-add/__snapshots__/index.spec.ts.snap
  modules/data/schematics/ng-add/index.ts
  modules/effects/schematics-core/utility/standalone.ts
  modules/effects/schematics/ng-add/__snapshots__/index.spec.ts.snap
  modules/effects/schematics/ng-add/index.ts
  modules/entity/schematics-core/utility/standalone.ts
  modules/operators/schematics-core/utility/standalone.ts
  modules/router-store/schematics-core/utility/standalone.ts
  modules/router-store/schematics/ng-add/__snapshots__/index.spec.ts.snap
  modules/router-store/schematics/ng-add/index.ts
  modules/schematics-core/utility/standalone.ts
  modules/schematics/schematics-core/utility/standalone.ts
  modules/signals/schematics-core/utility/standalone.ts
  modules/store-devtools/schematics-core/utility/standalone.ts
  modules/store-devtools/schematics/ng-add/__snapshots__/index.spec.ts.snap
  modules/store-devtools/schematics/ng-add/index.ts
  modules/store/schematics-core/utility/standalone.ts
  modules/store/schematics/ng-add/index.ts
  modules/store/src/action_group_creator.ts
  package.json
  yarn.lock
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

build: update ng-packagr
  package.json
  yarn.lock
Labels: dependencies

feat: make store entries starting with _ not available outside of the store (interface, first level)
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/signal-store-models.ts
  modules/signals/src/ts-helpers.ts
Labels: none

feat(effects): add migrator for `concatLatestFrom`
  modules/effects/migrations/18_0_0/index.spec.ts
  modules/effects/migrations/18_0_0/index.ts
  modules/effects/migrations/migration.json
Labels: Project: Effects

Update modules/effects/migrations/migration.json
  modules/effects/migrations/migration.json
Labels: Project: Effects

feat: update tests to use renamed migration name
  modules/effects/migrations/18_0_0-beta/index.spec.ts
  modules/effects/migrations/18_0_0-beta/index.ts
Labels: Project: Effects

Update modules/effects/migrations/migration.json
  modules/effects/migrations/migration.json
Labels: Project: Effects

feat(signals): extends merged features results up to 25
  modules/signals/src/signal-store.ts
Labels: none

fix(signals): add ts-ignore
  modules/signals/src/signal-store.ts
Labels: none

fix(signals): undo prettier file format
  modules/signals/src/signal-store.ts
Labels: none

fix(signals): replace @ts-ignore with @ts-expect-error
  modules/signals/src/signal-store.ts
Labels: none

fix(signals): add a description after @ts-expect-error
  modules/signals/src/signal-store.ts
Labels: none

refactor(store): merge Action and TypedAction intefaces
  modules/effects/spec/types/effect_creator.spec.ts
  modules/effects/spec/types/of_type.spec.ts
  modules/store/spec/types/action_group_creator.spec.ts
  modules/store/spec/types/feature_creator.spec.ts
  modules/store/spec/types/reducer_creator.spec.ts
  modules/store/src/action_creator.ts
  modules/store/src/action_group_creator.ts
  modules/store/src/models.ts
Labels: Project: Effects, Project: Store

feat: add concatLatestFrom to existing operators import declaration.
  modules/effects/migrations/18_0_0-beta/index.spec.ts
  modules/effects/migrations/18_0_0-beta/index.ts
Labels: Project: Effects

.github/labeler.yml:

# Add 'Project: ngrx.io' label to any ngrx.io file changes
'Project: ngrx.io':
  - projects/ngrx.io/*
  - projects/ngrx.io/**/*

# Add 'Project: Example App' label to any example-app file changes
'Project: Example App':
  - projects/example-app/*
  - projects/example-app/**/*

# Add 'Project: Component' label to any change within the 'component' package
'Project: Component':
  - modules/component/*
  - modules/component/**/*

# Add 'Project: Component Store' label to any change within the 'component-store' package
'Project: Component Store':
  - modules/component-store/*
  - modules/component-store/**/*

# Add 'Project: Data' label to any change within the 'data' package
'Project: Data':
  - modules/data/*
  - modules/data/**/*

# Add 'Project: Effects' label to any change within the 'effects' package
'Project: Effects':
  - modules/effects/*
  - modules/effects/**/*

# Add 'Project: Entity' label to any change within the 'entity' package
'Project: Entity':
  - modules/entity/*
  - modules/entity/**/*

# Add 'Project: Router Store' label to any change within the 'router-store' package
'Project: Router Store':
  - modules/router-store/*
  - modules/router-store/**/*

# Add 'Project: Schematics' label to any change within the 'schematics' package
'Project: Schematics':
  - modules/schematics/*
  - modules/schematics/**/*

# Add 'Project: Store' label to any change within the 'store' package
'Project: Store':
  - modules/store/*
  - modules/store/**/*

# Add 'Project: Store Devtools' label to any change within the 'store-devtools' package
'Project: Store Devtools':
  - modules/store-devtools/*
  - modules/store-devtools/**/*

# Add 'dependencies' label to any change to npm or yarn related stuff
dependencies:
  - package.json
  - yarn.lock
