Repository ngrx/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: Project: ngrx.io, Project: Example App, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

fix(signals): add `StateSignal` to the public API (#4247)
  modules/signals/src/index.ts
Labels: none

fix(signals): correctly infer the type of methods with generics (#4249)
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/signal-store-models.ts
Labels: none

chore: release 17.1.1
  CHANGELOG.md
  modules/component-store/package.json
  modules/component-store/schematics-core/utility/libs-version.ts
  modules/component/package.json
  modules/component/schematics-core/utility/libs-version.ts
  modules/data/package.json
  modules/data/schematics-core/utility/libs-version.ts
  modules/effects/package.json
  modules/effects/schematics-core/utility/libs-version.ts
  modules/entity/package.json
  modules/entity/schematics-core/utility/libs-version.ts
  modules/eslint-plugin/package.json
  modules/operators/package.json
  modules/operators/schematics-core/utility/libs-version.ts
  modules/router-store/package.json
  modules/router-store/schematics-core/utility/libs-version.ts
  modules/schematics-core/utility/libs-version.ts
  modules/schematics/package.json
  modules/schematics/schematics-core/utility/libs-version.ts
  modules/signals/package.json
  modules/signals/schematics-core/utility/libs-version.ts
  modules/store-devtools/package.json
  modules/store-devtools/schematics-core/utility/libs-version.ts
  modules/store/package.json
  modules/store/schematics-core/utility/libs-version.ts
  package.json
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

feat(component-store): deprecate `tapResponse` export
  modules/component-store/src/index.ts
Labels: Project: Component Store

feat(effects): deprecate `concatLatestFrom` export
  modules/effects/src/index.ts
Labels: Project: Effects

feat(signals): add possible providedIn values 'platform', 'any' and 'null' to SignalStoreConfig type
  modules/signals/src/signal-store-models.ts
Labels: none

build(ngrx.io): update to Angular 17
  projects/ngrx.io/angular.json
  projects/ngrx.io/package.json
  projects/ngrx.io/src/app/custom-elements/api/api-list.component.html
  projects/ngrx.io/src/app/sw-updates/sw-updates.service.spec.ts
  projects/ngrx.io/src/app/sw-updates/sw-updates.service.ts
  projects/ngrx.io/yarn.lock
Labels: Project: ngrx.io

fix(ngrx.io): set correct path for pwa icons
  projects/ngrx.io/src/pwa-manifest.json
Labels: Project: ngrx.io

docs(signals): apply CR suggestions
  projects/ngrx.io/content/guide/signals/signal-state.md
Labels: Project: ngrx.io

docs: update european workshop for may
  projects/ngrx.io/content/marketing/workshops.md
Labels: Project: ngrx.io

docs: update European workshop for May (#4266)
  projects/ngrx.io/content/marketing/workshops.md
Labels: Project: ngrx.io

docs(signals): improve SignalState docs (#4250)
  projects/ngrx.io/content/guide/signals/index.md
  projects/ngrx.io/content/guide/signals/signal-state.md
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

build(ngrx.io): update to Angular 17 (#4258)
  projects/ngrx.io/angular.json
  projects/ngrx.io/package.json
  projects/ngrx.io/src/app/custom-elements/api/api-list.component.html
  projects/ngrx.io/src/app/sw-updates/sw-updates.service.spec.ts
  projects/ngrx.io/src/app/sw-updates/sw-updates.service.ts
  projects/ngrx.io/yarn.lock
Labels: Project: ngrx.io

feat(component-store): deprecate `tapResponse` export (#4259)
  modules/component-store/src/index.ts
Labels: Project: Component Store

fix(ngrx.io): set correct path for pwa icons (#4263)
  projects/ngrx.io/src/pwa-manifest.json
Labels: Project: ngrx.io

feat(effects): deprecate `concatLatestFrom` export (#4260)
  modules/effects/src/index.ts
Labels: Project: Effects

docs(store): add example of reusing extra selectors
  projects/ngrx.io/content/guide/store/feature-creators.md
Labels: Project: ngrx.io

docs(store): extend code snippet for better consistency
  projects/ngrx.io/content/guide/store/feature-creators.md
Labels: Project: ngrx.io

docs(store): add example of reusing extra selectors (#4269)
  projects/ngrx.io/content/guide/store/feature-creators.md
Labels: Project: ngrx.io

feat(signals): refactored mapping of named types
  modules/signals/entities/src/models.ts
Labels: none

docs: providing more explicit detail
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

chore: run nx migrate
  .prettierignore
  modules/component-store/project.json
  modules/component/project.json
  modules/data/project.json
  modules/effects/project.json
  modules/entity/project.json
  modules/eslint-plugin/project.json
  modules/operators/project.json
  modules/router-store/project.json
  modules/schematics-core/project.json
  modules/schematics/project.json
  modules/signals/project.json
  modules/store-devtools/project.json
  modules/store/project.json
  nx.json
  package.json
  projects/data-example-app/project.json
  projects/example-app/project.json
  projects/standalone-app/project.json
  yarn.lock
Labels: Project: Example App, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

test: fix tests after upgrade
  modules/component-store/schematics-core/test-setup.ts
  modules/component-store/test-setup.ts
  modules/component/schematics-core/test-setup.ts
  modules/component/test-setup.ts
  modules/data/schematics-core/test-setup.ts
  modules/data/test-setup.ts
  modules/effects/schematics-core/test-setup.ts
  modules/effects/test-setup.ts
  modules/entity/schematics-core/test-setup.ts
  modules/entity/test-setup.ts
  modules/eslint-plugin/spec/utils/index.ts
  modules/eslint-plugin/src/utils/helper-functions/utils.ts
  modules/eslint-plugin/test-setup.ts
  modules/operators/schematics-core/test-setup.ts
  modules/operators/test-setup.ts
  modules/router-store/schematics-core/test-setup.ts
  modules/router-store/test-setup.ts
  modules/schematics-core/test-setup.ts
  modules/schematics/schematics-core/test-setup.ts
  modules/schematics/src/component-store/__snapshots__/index.spec.ts.snap
  modules/schematics/src/container/__snapshots__/index.spec.ts.snap
  modules/schematics/test-setup.ts
  modules/signals/schematics-core/test-setup.ts
  modules/signals/test-setup.ts
  modules/store-devtools/schematics-core/test-setup.ts
  modules/store-devtools/test-setup.ts
  modules/store/schematics-core/test-setup.ts
  modules/store/spec/types/store_module.spec.ts
  modules/store/test-setup.ts
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools

lint: fix errors after upgrade
  modules/store-devtools/src/actions.ts
  projects/example-app/src/app/core/services/book-storage.service.ts
Labels: Project: Example App, Project: Store Devtools

chore: update to Angular 17.3.0
  package.json
  yarn.lock
Labels: dependencies

fix(schematics): correct module while generating a feature
  modules/schematics/src/effect/index.ts
  modules/schematics/src/feature/index.spec.ts
  modules/schematics/src/reducer/index.ts
Labels: Project: Schematics

chore: update typescript
  package.json
  yarn.lock
Labels: dependencies

fix(effects): resolve circular type dependency for createEffect
  modules/effects/src/effect_creator.ts
Labels: Project: Effects

fix(store): fix typing
  modules/store/src/action_group_creator.ts
Labels: Project: Store

fix(signals): fix typing
  modules/signals/src/patch-state.ts
Labels: none

Update signal-state.ts
  modules/signals/src/signal-state.ts
Labels: none

build(typescript): upgrade to TypeScript 5.4
  package.json
  yarn.lock
Labels: dependencies

test(signals): add failing test case for combinging entity state update with regular state update
  modules/signals/entities/spec/with-entities.spec.ts
Labels: none

fix(schematics): correct module while generating a feature (#4289)
  modules/schematics/src/effect/index.ts
  modules/schematics/src/feature/index.spec.ts
  modules/schematics/src/reducer/index.ts
Labels: Project: Schematics

refactor(signals): simpler entity named types (#4271)
  modules/signals/entities/src/models.ts
Labels: none

fix(signals): make patchState work with TS 5.4
  modules/signals/spec/types/patch-state.types.spec.ts
  modules/signals/src/patch-state.ts
Labels: none

fix(signals): make patchState work with TS 5.4 (#4294)
  modules/signals/spec/types/patch-state.types.spec.ts
  modules/signals/src/patch-state.ts
Labels: none

chore: update Angular ESLint version
  package.json
  yarn.lock
Labels: dependencies

fix(effects): make createEffect work with TS 5.3
  modules/effects/src/effect_creator.ts
Labels: Project: Effects

fix(effects): make createEffect work with TS 5.3 (#4296)
  modules/effects/src/effect_creator.ts
Labels: Project: Effects

.github/labeler.yml:

# Add 'Project: ngrx.io' label to any ngrx.io file changes
'Project: ngrx.io':
  - projects/ngrx.io/*
  - projects/ngrx.io/**/*

# Add 'Project: Example App' label to any example-app file changes
'Project: Example App':
  - projects/example-app/*
  - projects/example-app/**/*

# Add 'Project: Component' label to any change within the 'component' package
'Project: Component':
  - modules/component/*
  - modules/component/**/*

# Add 'Project: Component Store' label to any change within the 'component-store' package
'Project: Component Store':
  - modules/component-store/*
  - modules/component-store/**/*

# Add 'Project: Data' label to any change within the 'data' package
'Project: Data':
  - modules/data/*
  - modules/data/**/*

# Add 'Project: Effects' label to any change within the 'effects' package
'Project: Effects':
  - modules/effects/*
  - modules/effects/**/*

# Add 'Project: Entity' label to any change within the 'entity' package
'Project: Entity':
  - modules/entity/*
  - modules/entity/**/*

# Add 'Project: Router Store' label to any change within the 'router-store' package
'Project: Router Store':
  - modules/router-store/*
  - modules/router-store/**/*

# Add 'Project: Schematics' label to any change within the 'schematics' package
'Project: Schematics':
  - modules/schematics/*
  - modules/schematics/**/*

# Add 'Project: Store' label to any change within the 'store' package
'Project: Store':
  - modules/store/*
  - modules/store/**/*

# Add 'Project: Store Devtools' label to any change within the 'store-devtools' package
'Project: Store Devtools':
  - modules/store-devtools/*
  - modules/store-devtools/**/*

# Add 'dependencies' label to any change to npm or yarn related stuff
dependencies:
  - package.json
  - yarn.lock
