Repository ngrx/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: Project: ngrx.io, Project: Example App, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

.github/labeler.yml:

# Add 'Project: ngrx.io' label to any ngrx.io file changes
'Project: ngrx.io':
  - projects/ngrx.io/*
  - projects/ngrx.io/**/*

# Add 'Project: Example App' label to any example-app file changes
'Project: Example App':
  - projects/example-app/*
  - projects/example-app/**/*

# Add 'Project: Component' label to any change within the 'component' package
'Project: Component':
  - modules/component/*
  - modules/component/**/*

# Add 'Project: Component Store' label to any change within the 'component-store' package
'Project: Component Store':
  - modules/component-store/*
  - modules/component-store/**/*

# Add 'Project: Data' label to any change within the 'data' package
'Project: Data':
  - modules/data/*
  - modules/data/**/*

# Add 'Project: Effects' label to any change within the 'effects' package
'Project: Effects':
  - modules/effects/*
  - modules/effects/**/*

# Add 'Project: Entity' label to any change within the 'entity' package
'Project: Entity':
  - modules/entity/*
  - modules/entity/**/*

# Add 'Project: Router Store' label to any change within the 'router-store' package
'Project: Router Store':
  - modules/router-store/*
  - modules/router-store/**/*

# Add 'Project: Schematics' label to any change within the 'schematics' package
'Project: Schematics':
  - modules/schematics/*
  - modules/schematics/**/*

# Add 'Project: Store' label to any change within the 'store' package
'Project: Store':
  - modules/store/*
  - modules/store/**/*

# Add 'Project: Store Devtools' label to any change within the 'store-devtools' package
'Project: Store Devtools':
  - modules/store-devtools/*
  - modules/store-devtools/**/*

# Add 'dependencies' label to any change to npm or yarn related stuff
dependencies:
  - package.json
  - yarn.lock

chore: update snapshots
  modules/schematics/src/container/__snapshots__/index.spec.ts.snap
Labels: Project: Schematics

build: fix signals tests
  modules/signals/spec/helpers.ts
Labels: none

build: update Angular dependencies to 17.0.0 (#4113)
  modules/component-store/package.json
  modules/component/package.json
  modules/data/package.json
  modules/effects/package.json
  modules/entity/package.json
  modules/router-store/package.json
  modules/schematics/src/container/__snapshots__/index.spec.ts.snap
  modules/signals/package.json
  modules/signals/spec/helpers.ts
  modules/store/package.json
  package.json
  yarn.lock
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, dependencies

feat(signals): add `getState` function
  modules/signals/spec/get-state.spec.ts
  modules/signals/src/get-state.ts
  modules/signals/src/index.ts
Labels: none

fix(effects): allow effects providers to be registered outside of the root injector
  modules/effects/src/actions.ts
  modules/effects/src/effect_sources.ts
  modules/effects/src/effects_root_module.ts
  modules/effects/src/effects_runner.ts
  modules/effects/src/provide_effects.ts
Labels: Project: Effects

feat(signals): add `getState` function (#4118)
  modules/signals/spec/get-state.spec.ts
  modules/signals/src/get-state.ts
  modules/signals/src/index.ts
Labels: none

chore: release 17.0.0-rc.0
  CHANGELOG.md
  MIGRATION.md
  modules/component-store/package.json
  modules/component-store/schematics-core/utility/libs-version.ts
  modules/component/package.json
  modules/component/schematics-core/utility/libs-version.ts
  modules/data/package.json
  modules/data/schematics-core/utility/libs-version.ts
  modules/effects/package.json
  modules/effects/schematics-core/utility/libs-version.ts
  modules/entity/package.json
  modules/entity/schematics-core/utility/libs-version.ts
  modules/eslint-plugin/package.json
  modules/operators/package.json
  modules/operators/schematics-core/utility/libs-version.ts
  modules/router-store/package.json
  modules/router-store/schematics-core/utility/libs-version.ts
  modules/schematics-core/utility/libs-version.ts
  modules/schematics/package.json
  modules/schematics/schematics-core/utility/libs-version.ts
  modules/signals/package.json
  modules/signals/schematics-core/utility/libs-version.ts
  modules/store-devtools/package.json
  modules/store-devtools/schematics-core/utility/libs-version.ts
  modules/store/package.json
  modules/store/schematics-core/utility/libs-version.ts
  package.json
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

docs(eslint-plugin): update docs about how to add rules
  projects/ngrx.io/content/guide/eslint-plugin/index.md
Labels: Project: ngrx.io

docs(eslint-plugin): update docs about how to add rules
  package.json
  yarn.lock
Labels: dependencies

fix(signals): remove state checks for better DX
  modules/signals/entities/src/with-entities.ts
  modules/signals/spec/signal-state.spec.ts
  modules/signals/spec/signal-store.spec.ts
  modules/signals/spec/types/signal-state.types.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/deep-signal.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/ts-helpers.ts
  modules/signals/src/with-state.ts
Labels: none

docs: add v17 migration
  projects/ngrx.io/content/guide/migration/v17.md
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io

fix(signals): remove state checks for better DX (#4124)
  modules/signals/entities/src/with-entities.ts
  modules/signals/spec/signal-state.spec.ts
  modules/signals/spec/signal-store.spec.ts
  modules/signals/spec/types/signal-state.types.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/deep-signal.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/ts-helpers.ts
  modules/signals/src/with-state.ts
Labels: none

docs: add v17 migration guide (#4127)
  projects/ngrx.io/content/guide/migration/v17.md
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io

build: add redirects for netlify deploy docs
  projects/ngrx.io/angular.json
  projects/ngrx.io/src/_redirects
Labels: Project: ngrx.io

build: add redirects for netlify deploy docs (#4131)
  projects/ngrx.io/angular.json
  projects/ngrx.io/src/_redirects
Labels: Project: ngrx.io

feat(signals): provide ability to use interface as state type
  modules/signals/entities/src/with-entities.ts
  modules/signals/spec/get-state.spec.ts
  modules/signals/spec/types/signal-state.types.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/deep-signal.ts
  modules/signals/src/get-state.ts
  modules/signals/src/patch-state.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store-models.ts
  modules/signals/src/signal-store.ts
  modules/signals/src/ts-helpers.ts
  modules/signals/src/with-state.ts
Labels: none

DefaultDataService getAll httpOptions fix + test
  modules/data/spec/dataservices/default-data.service.spec.ts
  modules/data/src/dataservices/default-data.service.ts
Labels: Project: Data

fix(data) DefaultDataService getAll httpOptions fix + test
  modules/data/spec/dataservices/default-data.service.spec.ts
  modules/data/src/dataservices/default-data.service.ts
  pnpm-lock.yaml
Labels: Project: Data

build: add redirects for netlify deploy docs (#4131)
  projects/ngrx.io/angular.json
  projects/ngrx.io/src/_redirects
Labels: Project: ngrx.io

docs: add polaris integration
  projects/ngrx.io/package.json
  projects/ngrx.io/src/app/app.module.ts
  projects/ngrx.io/yarn.lock
Labels: Project: ngrx.io

refactor(signals): replace Record<string, any> with object
  modules/signals/src/get-state.ts
  modules/signals/src/patch-state.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store-models.ts
  modules/signals/src/signal-store.ts
  modules/signals/src/ts-helpers.ts
  modules/signals/src/with-state.ts
Labels: none

docs(eslint-plugin): added suggested details for clarity
  projects/ngrx.io/content/guide/eslint-plugin/index.md
Labels: Project: ngrx.io

fix(schematics): add support for eslint.cjs files
  modules/eslint-plugin/schematics/ng-add/index.ts
  modules/store/schematics/ng-add/index.ts
Labels: Project: Store

docs: add polaris integration (#4135)
  projects/ngrx.io/package.json
  projects/ngrx.io/src/app/app.module.ts
  projects/ngrx.io/yarn.lock
Labels: Project: ngrx.io

feat(signals): provide ability to use interface as state type (#4133)
  modules/signals/entities/src/with-entities.ts
  modules/signals/spec/get-state.spec.ts
  modules/signals/spec/types/signal-state.types.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/deep-signal.ts
  modules/signals/src/get-state.ts
  modules/signals/src/patch-state.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store-models.ts
  modules/signals/src/ts-helpers.ts
  modules/signals/src/with-state.ts
Labels: none

fix(data): DefaultDataService getAll httpOptions fix + test (#4134)
  modules/data/spec/dataservices/default-data.service.spec.ts
  modules/data/src/dataservices/default-data.service.ts
Labels: Project: Data

chore: revert yarn.lock change
  yarn.lock
Labels: dependencies

docs(eslint-plugin): update docs about how to add rules (#4123)
  projects/ngrx.io/content/guide/eslint-plugin/index.md
  yarn.lock
Labels: Project: ngrx.io, dependencies

docs: add initial docs for @ngrx/operators
  projects/ngrx.io/content/guide/operators/index.md
  projects/ngrx.io/content/guide/operators/install.md
  projects/ngrx.io/content/guide/operators/operators.md
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io

docs: add API docs for signals and operators packages
  projects/ngrx.io/tools/transforms/angular-api-package/index.js
  projects/ngrx.io/tools/transforms/authors-package/api-package.js
Labels: Project: ngrx.io

chore: review feedback fixes
  projects/ngrx.io/content/guide/operators/operators.md
Labels: Project: ngrx.io

docs: add API docs for signals and operators packages (#4139)
  projects/ngrx.io/tools/transforms/angular-api-package/index.js
  projects/ngrx.io/tools/transforms/authors-package/api-package.js
Labels: Project: ngrx.io

chore: release 17.0.0
  CHANGELOG.md
  modules/component-store/package.json
  modules/component-store/schematics-core/utility/libs-version.ts
  modules/component/package.json
  modules/component/schematics-core/utility/libs-version.ts
  modules/data/package.json
  modules/data/schematics-core/utility/libs-version.ts
  modules/effects/package.json
  modules/effects/schematics-core/utility/libs-version.ts
  modules/entity/package.json
  modules/entity/schematics-core/utility/libs-version.ts
  modules/eslint-plugin/package.json
  modules/operators/package.json
  modules/operators/schematics-core/utility/libs-version.ts
  modules/router-store/package.json
  modules/router-store/schematics-core/utility/libs-version.ts
  modules/schematics-core/utility/libs-version.ts
  modules/schematics/package.json
  modules/schematics/schematics-core/utility/libs-version.ts
  modules/signals/package.json
  modules/signals/schematics-core/utility/libs-version.ts
  modules/store-devtools/package.json
  modules/store-devtools/schematics-core/utility/libs-version.ts
  modules/store/package.json
  modules/store/schematics-core/utility/libs-version.ts
  package.json
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

docs: add initial docs for @ngrx/operators (#4138)
  projects/ngrx.io/content/guide/operators/index.md
  projects/ngrx.io/content/guide/operators/install.md
  projects/ngrx.io/content/guide/operators/operators.md
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io

feat(docks): add selectSignal documentation
  projects/ngrx.io/content/guide/store/selectors.md
Labels: Project: ngrx.io

feat(docks): remove 'ComponentStore Selectors' section
  projects/ngrx.io/content/guide/store/selectors.md
Labels: Project: ngrx.io

docs(store): remove 'State Signal in ComponentStore' section
  projects/ngrx.io/content/guide/store/selectors.md
Labels: Project: ngrx.io

fix(signals): `getState` now returns computed signals too
  modules/signals/spec/get-state.spec.ts
  modules/signals/src/get-state.ts
Labels: none

fix(signals): define nested signals as configurable properties
  modules/signals/src/deep-signal.ts
Labels: none

docs: add ngrx workshops
  projects/ngrx.io/content/marketing/events.json
  projects/ngrx.io/content/marketing/workshops.md
  projects/ngrx.io/content/navigation.json
  projects/ngrx.io/src/app/custom-elements/contact-form/contact-form.component.ts
  projects/ngrx.io/src/styles/1-layouts/top-menu/_top-menu-theme.scss
  projects/ngrx.io/src/styles/1-layouts/top-menu/_top-menu.scss
Labels: Project: ngrx.io
