Repository ngrx/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: Project: ngrx.io, Project: Example App, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

feat(signals): add storage subpackage
  modules/signals/project.json
  modules/signals/storage/index.ts
  modules/signals/storage/ng-package.json
  modules/signals/storage/spec/with-storage-sync.spec.ts
  modules/signals/storage/src/index.ts
  modules/signals/storage/src/with-storage-sync.ts
  tsconfig.json
Labels: none

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

fix: add further information
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

fix: finalize docs
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

build(codespaces): update dev-container to use node 18 image
  .devcontainer/devcontainer.json
  .devcontainer/ngrx.io/devcontainer.json
Labels: none

feat(store): export TypedAction
  modules/store/src/index.ts
Labels: Project: Store

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

fix: description on `set*` updaters
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

build(codespaces): update dev-container to use node 18 image (#4181)
  .devcontainer/devcontainer.json
  .devcontainer/ngrx.io/devcontainer.json
Labels: none

Update modules/store/src/selector.ts
  modules/store/src/selector.ts
Labels: Project: Store

docs(signals): add documentation for entity management (#4175)
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

docs(signals): fix typo in signal-store entity-management guide
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

docs: add link to migration path for selector props deprecation notice (#4161)
  modules/store/src/selector.ts
Labels: Project: Store

docs(signals): add FAQ
  projects/ngrx.io/content/guide/signals/faq.md
  projects/ngrx.io/content/navigation.json
  projects/ngrx.io/src/styles/2-modules/details/_details-theme.scss
  projects/ngrx.io/src/styles/2-modules/details/_details.scss
Labels: Project: ngrx.io

docs(signals): add note about developer preview
  projects/ngrx.io/content/guide/signals/index.md
  projects/ngrx.io/src/styles/2-modules/alert/_alert-theme.scss
Labels: Project: ngrx.io

docs(signals): fix typo in Entity Management guide (#4189)
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

fix(signals): destroy hook doesn't run in injection context.
  modules/signals/spec/helpers.ts
  modules/signals/spec/signal-store.spec.ts
  modules/signals/src/signal-store.ts
  modules/signals/src/with-hooks.ts
Labels: none

docs(signals): add guide for custom SignalStore features
  projects/ngrx.io/content/guide/signals/signal-store/custom-store-features.md
Labels: Project: ngrx.io

docs(signals): remove FAQ redundant question
  projects/ngrx.io/content/guide/signals/faq.md
Labels: Project: ngrx.io

docs(signals): add note about developer preview (#4195)
  projects/ngrx.io/content/guide/signals/index.md
  projects/ngrx.io/src/styles/2-modules/alert/_alert-theme.scss
Labels: Project: ngrx.io

docs(signals): add guide for custom SignalStore features (#4194)
  projects/ngrx.io/content/guide/signals/signal-store/custom-store-features.md
Labels: Project: ngrx.io

feat(signals) Protection for Overriding Properties
  modules/signals/src/overriding-feature-poc.ts
Labels: none

fix(signals): run `onDestroy` outside of injection context
  modules/signals/spec/signal-store.spec.ts
  modules/signals/src/signal-store.ts
Labels: none

fix(signals): add test verifying `onDestroy` fails if it accesses DI
  modules/signals/spec/signal-store.spec.ts
  modules/signals/src/signal-store.ts
Labels: none

Apply suggestions from code review
  projects/ngrx.io/content/guide/signals/faq.md
Labels: Project: ngrx.io

test(signals): verify that root-provided onDestroy doesn't fail
  modules/signals/spec/signal-store.spec.ts
Labels: none

fix(signals): run `onDestroy` outside of injection context (#4200)
  modules/signals/spec/signal-store.spec.ts
  modules/signals/src/signal-store.ts
Labels: none

.github/labeler.yml:

# Add 'Project: ngrx.io' label to any ngrx.io file changes
'Project: ngrx.io':
  - projects/ngrx.io/*
  - projects/ngrx.io/**/*

# Add 'Project: Example App' label to any example-app file changes
'Project: Example App':
  - projects/example-app/*
  - projects/example-app/**/*

# Add 'Project: Component' label to any change within the 'component' package
'Project: Component':
  - modules/component/*
  - modules/component/**/*

# Add 'Project: Component Store' label to any change within the 'component-store' package
'Project: Component Store':
  - modules/component-store/*
  - modules/component-store/**/*

# Add 'Project: Data' label to any change within the 'data' package
'Project: Data':
  - modules/data/*
  - modules/data/**/*

# Add 'Project: Effects' label to any change within the 'effects' package
'Project: Effects':
  - modules/effects/*
  - modules/effects/**/*

# Add 'Project: Entity' label to any change within the 'entity' package
'Project: Entity':
  - modules/entity/*
  - modules/entity/**/*

# Add 'Project: Router Store' label to any change within the 'router-store' package
'Project: Router Store':
  - modules/router-store/*
  - modules/router-store/**/*

# Add 'Project: Schematics' label to any change within the 'schematics' package
'Project: Schematics':
  - modules/schematics/*
  - modules/schematics/**/*

# Add 'Project: Store' label to any change within the 'store' package
'Project: Store':
  - modules/store/*
  - modules/store/**/*

# Add 'Project: Store Devtools' label to any change within the 'store-devtools' package
'Project: Store Devtools':
  - modules/store-devtools/*
  - modules/store-devtools/**/*

# Add 'dependencies' label to any change to npm or yarn related stuff
dependencies:
  - package.json
  - yarn.lock
