Repository ngrx/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: Project: ngrx.io, Project: Example App, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

feat(component): remove PushModule
  modules/component/spec/push/push.module.spec.ts
  modules/component/src/index.ts
  modules/component/src/push/push.module.ts
  modules/component/src/push/push.pipe.ts
Labels: Project: Component

docs: remove NgModules from API docs if not available
  projects/ngrx.io/tools/transforms/templates/api/includes/ngmodule.html
Labels: Project: ngrx.io

docs: remove NgModule doc tag processor
  projects/ngrx.io/tools/transforms/angular-api-package/index.js
  projects/ngrx.io/tools/transforms/angular-api-package/processors/processNgModuleDocs.js
  projects/ngrx.io/tools/transforms/angular-api-package/processors/processNgModuleDocs.spec.js
Labels: Project: ngrx.io

docs(theme): fix dropdowns background in dark mode
  projects/ngrx.io/src/styles/2-modules/select-menu/_select-menu-theme.scss
  projects/ngrx.io/src/styles/_constants.scss
Labels: Project: ngrx.io

docs(theme): fix contributor card in dark mode
  projects/ngrx.io/src/app/custom-elements/contact-form/contact-form.module.ts
  projects/ngrx.io/src/styles/2-modules/contributor/_contributor-theme.scss
Labels: Project: ngrx.io

docs: fix dropdowns background in dark mode (#4094)
  projects/ngrx.io/src/styles/2-modules/select-menu/_select-menu-theme.scss
  projects/ngrx.io/src/styles/_constants.scss
Labels: Project: ngrx.io

docs: fix dropdowns background in dark mode (#4094)
  projects/ngrx.io/src/styles/2-modules/select-menu/_select-menu-theme.scss
  projects/ngrx.io/src/styles/_constants.scss
Labels: Project: ngrx.io

docs: fix contributor card in dark mode (#4095)
  projects/ngrx.io/src/app/custom-elements/contact-form/contact-form.module.ts
  projects/ngrx.io/src/styles/2-modules/contributor/_contributor-theme.scss
Labels: Project: ngrx.io

docs: fix contributor card in dark mode (#4095)
  projects/ngrx.io/src/app/custom-elements/contact-form/contact-form.module.ts
  projects/ngrx.io/src/styles/2-modules/contributor/_contributor-theme.scss
Labels: Project: ngrx.io

feat: add concatLatestFrom, tapResponse operators
  modules/operators/spec/concat_latest_from.spec.ts
  modules/operators/spec/tap-response.spec.ts
  modules/operators/src/concat_latest_from.ts
  modules/operators/src/index.ts
  modules/operators/src/tap-response.ts
Labels: none

feat(component): remove `LetModule` (#4087)
  modules/component/spec/let/let.module.spec.ts
  modules/component/src/index.ts
  modules/component/src/let/let.directive.ts
  modules/component/src/let/let.module.ts
  projects/ngrx.io/content/guide/component/let.md
  projects/ngrx.io/content/guide/migration/v15.md
Labels: Project: ngrx.io, Project: Component

chore: re-export operators from @ngrx/operators package
  modules/component-store/spec/tap-response.spec.ts
  modules/component-store/src/index.ts
  modules/component-store/src/tap-response.ts
  modules/effects/spec/concat_latest_from.spec.ts
  modules/effects/src/concat_latest_from.ts
  modules/effects/src/index.ts
Labels: Project: Component Store, Project: Effects

chore: update package versions to 17.0.0-beta.0
  modules/component-store/package.json
  modules/component-store/schematics-core/utility/libs-version.ts
  modules/component/package.json
  modules/component/schematics-core/utility/libs-version.ts
  modules/data/package.json
  modules/data/schematics-core/utility/libs-version.ts
  modules/effects/package.json
  modules/effects/schematics-core/utility/libs-version.ts
  modules/entity/package.json
  modules/entity/schematics-core/utility/libs-version.ts
  modules/eslint-plugin/package.json
  modules/operators/schematics-core/utility/libs-version.ts
  modules/router-store/package.json
  modules/router-store/schematics-core/utility/libs-version.ts
  modules/schematics-core/utility/libs-version.ts
  modules/schematics/package.json
  modules/schematics/schematics-core/utility/libs-version.ts
  modules/signals/package.json
  modules/signals/schematics-core/utility/libs-version.ts
  modules/store-devtools/package.json
  modules/store-devtools/schematics-core/utility/libs-version.ts
  modules/store/package.json
  modules/store/schematics-core/utility/libs-version.ts
  tsconfig.json
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools

chore: fix build for re-exporting @ngrx/operators
  modules/component-store/ng-package.json
  modules/component-store/tsconfig.build.json
  modules/effects/ng-package.json
  modules/effects/tsconfig.build.json
  modules/operators/index.ts
  modules/operators/public_api.ts
Labels: Project: Component Store, Project: Effects

chore: add @ngrx/operators to paths for types tests
  modules/component-store/spec/types/utils.ts
  modules/effects/spec/types/utils.ts
Labels: Project: Component Store, Project: Effects

chore: add signals and operators packages to publish configs
  build/publish-latest.ts
  build/publish-next.ts
Labels: none

chore: update packageGroup arrays for ng update
  modules/component-store/package.json
  modules/component/package.json
  modules/data/package.json
  modules/effects/package.json
  modules/entity/package.json
  modules/eslint-plugin/package.json
  modules/operators/package.json
  modules/router-store/package.json
  modules/schematics/package.json
  modules/signals/package.json
  modules/store-devtools/package.json
  modules/store/package.json
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools

chore: remove public_api.ts from operators
  modules/operators/public_api.ts
Labels: none

chore: remove signals from being excluded from publishing
  build/config.ts
  build/copy-schematics-core.ts
Labels: none

chore: fix operators build
  modules/operators/index.ts
Labels: none

docs(theme): bring back orange color for code snippets
  projects/ngrx.io/src/styles/2-modules/code/_code-theme.scss
Labels: Project: ngrx.io

docs: bring back orange color for code snippets (#4101)
  projects/ngrx.io/src/styles/2-modules/code/_code-theme.scss
Labels: Project: ngrx.io

docks(theme): fix floating labels on forms. Adjust styles setup
  projects/ngrx.io/src/styles/custom-themes/dark-theme.scss
  projects/ngrx.io/src/styles/custom-themes/light-theme.scss
  projects/ngrx.io/src/styles/main.scss
Labels: Project: ngrx.io

docs: fix floating labels on forms. Adjust styles setup (#4102)
  projects/ngrx.io/src/styles/custom-themes/dark-theme.scss
  projects/ngrx.io/src/styles/custom-themes/light-theme.scss
  projects/ngrx.io/src/styles/main.scss
Labels: Project: ngrx.io

docs: bring back orange color for code snippets (#4101)
  projects/ngrx.io/src/styles/2-modules/code/_code-theme.scss
Labels: Project: ngrx.io

docs: fix floating labels on forms. Adjust styles setup (#4102)
  projects/ngrx.io/src/styles/custom-themes/dark-theme.scss
  projects/ngrx.io/src/styles/custom-themes/light-theme.scss
  projects/ngrx.io/src/styles/main.scss
Labels: Project: ngrx.io

chore: release 17.0.0-beta.0
  CHANGELOG.md
Labels: none

test(signals): verify that patchState does not emit on empty change (#4046)
  modules/signals/rxjs-interop/spec/rx-method.spec.ts
  modules/signals/spec/helpers.ts
  modules/signals/spec/signal-state.spec.ts
Labels: none

docs: remove resources, events, and gitter links
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io

docs: remove resources, events, and gitter links (#4104)
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io

feat(store-devtools): add migration for connectInZone
  modules/store-devtools/migrations/17_0_0-beta/index.spec.ts
  modules/store-devtools/migrations/17_0_0-beta/index.ts
  modules/store-devtools/migrations/migration.json
Labels: Project: Store Devtools

feat(devtools): change connectOutsideZone to be 'true' by default
  modules/store-devtools/spec/config.spec.ts
  modules/store-devtools/src/config.ts
  projects/ngrx.io/content/guide/store-devtools/config.md
Labels: Project: ngrx.io, Project: Store Devtools

feat(devtools): fix tests
  modules/store-devtools/spec/extension.spec.ts
  modules/store-devtools/src/devtools.ts
Labels: Project: Store Devtools

feat(devtools): rename to connectInZone and set false as default value
  modules/store-devtools/spec/config.spec.ts
  modules/store-devtools/spec/extension.spec.ts
  modules/store-devtools/src/config.ts
  modules/store-devtools/src/devtools.ts
  modules/store-devtools/src/extension.ts
  modules/store-devtools/src/zone-config.ts
  projects/ngrx.io/content/guide/store-devtools/config.md
  projects/ngrx.io/content/guide/store-devtools/index.md
Labels: Project: ngrx.io, Project: Store Devtools

(docs:store): Improve clarity of documentation
  projects/ngrx.io/content/guide/store/actions.md
  projects/ngrx.io/content/guide/store/selectors.md
  projects/ngrx.io/content/guide/store/testing.md
Labels: Project: ngrx.io

feat(store-devtools): change connectOutsideZone to be 'true' by default (#4103)
  modules/store-devtools/spec/config.spec.ts
  modules/store-devtools/spec/extension.spec.ts
  modules/store-devtools/src/config.ts
  modules/store-devtools/src/devtools.ts
  modules/store-devtools/src/extension.ts
  modules/store-devtools/src/zone-config.ts
  projects/ngrx.io/content/guide/store-devtools/config.md
  projects/ngrx.io/content/guide/store-devtools/index.md
Labels: Project: ngrx.io, Project: Store Devtools

feat(store-devtools): add migration for connectInZone (#4106)
  modules/store-devtools/migrations/17_0_0-beta/index.spec.ts
  modules/store-devtools/migrations/17_0_0-beta/index.ts
  modules/store-devtools/migrations/migration.json
Labels: Project: Store Devtools

build: update Angular dependencies to 17.0.0
  package.json
  yarn.lock
Labels: dependencies

chore: update package.json dependencies
  modules/component-store/package.json
  modules/component/package.json
  modules/data/package.json
  modules/effects/package.json
  modules/entity/package.json
  modules/router-store/package.json
  modules/signals/package.json
  modules/store/package.json
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Store

feat(signals): add entities subpackage (#4090)
  modules/signals/.eslintrc.json
  modules/signals/entities/index.ts
  modules/signals/entities/ng-package.json
  modules/signals/entities/spec/mocks.ts
  modules/signals/entities/spec/updaters/add-entities.spec.ts
  modules/signals/entities/spec/updaters/add-entity.spec.ts
  modules/signals/entities/spec/updaters/remove-all-entities.spec.ts
  modules/signals/entities/spec/updaters/remove-entities.spec.ts
  modules/signals/entities/spec/updaters/remove-entity.spec.ts
  modules/signals/entities/spec/updaters/set-all-entities.spec.ts
  modules/signals/entities/spec/updaters/set-entities.spec.ts
  modules/signals/entities/spec/updaters/set-entity.spec.ts
  modules/signals/entities/spec/updaters/update-all-entities.spec.ts
  modules/signals/entities/spec/updaters/update-entities.spec.ts
  modules/signals/entities/spec/updaters/update-entity.spec.ts
  modules/signals/entities/spec/with-entities.spec.ts
  modules/signals/entities/src/helpers.ts
  modules/signals/entities/src/index.ts
  modules/signals/entities/src/models.ts
  modules/signals/entities/src/updaters/add-entities.ts
  modules/signals/entities/src/updaters/add-entity.ts
  modules/signals/entities/src/updaters/remove-all-entities.ts
  modules/signals/entities/src/updaters/remove-entities.ts
  modules/signals/entities/src/updaters/remove-entity.ts
  modules/signals/entities/src/updaters/set-all-entities.ts
  modules/signals/entities/src/updaters/set-entities.ts
  modules/signals/entities/src/updaters/set-entity.ts
  modules/signals/entities/src/updaters/update-all-entities.ts
  modules/signals/entities/src/updaters/update-entities.ts
  modules/signals/entities/src/updaters/update-entity.ts
  modules/signals/entities/src/with-entities.ts
  modules/signals/project.json
  modules/signals/src/index.ts
  modules/signals/src/patch-state.ts
  tsconfig.json
Labels: none

.github/labeler.yml:

# Add 'Project: ngrx.io' label to any ngrx.io file changes
'Project: ngrx.io':
  - projects/ngrx.io/*
  - projects/ngrx.io/**/*

# Add 'Project: Example App' label to any example-app file changes
'Project: Example App':
  - projects/example-app/*
  - projects/example-app/**/*

# Add 'Project: Component' label to any change within the 'component' package
'Project: Component':
  - modules/component/*
  - modules/component/**/*

# Add 'Project: Component Store' label to any change within the 'component-store' package
'Project: Component Store':
  - modules/component-store/*
  - modules/component-store/**/*

# Add 'Project: Data' label to any change within the 'data' package
'Project: Data':
  - modules/data/*
  - modules/data/**/*

# Add 'Project: Effects' label to any change within the 'effects' package
'Project: Effects':
  - modules/effects/*
  - modules/effects/**/*

# Add 'Project: Entity' label to any change within the 'entity' package
'Project: Entity':
  - modules/entity/*
  - modules/entity/**/*

# Add 'Project: Router Store' label to any change within the 'router-store' package
'Project: Router Store':
  - modules/router-store/*
  - modules/router-store/**/*

# Add 'Project: Schematics' label to any change within the 'schematics' package
'Project: Schematics':
  - modules/schematics/*
  - modules/schematics/**/*

# Add 'Project: Store' label to any change within the 'store' package
'Project: Store':
  - modules/store/*
  - modules/store/**/*

# Add 'Project: Store Devtools' label to any change within the 'store-devtools' package
'Project: Store Devtools':
  - modules/store-devtools/*
  - modules/store-devtools/**/*

# Add 'dependencies' label to any change to npm or yarn related stuff
dependencies:
  - package.json
  - yarn.lock
