Repository ngrx/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: Project: ngrx.io, Project: Example App, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

.github/labeler.yml:

# Add 'Project: ngrx.io' label to any ngrx.io file changes
'Project: ngrx.io':
  - projects/ngrx.io/*
  - projects/ngrx.io/**/*

# Add 'Project: Example App' label to any example-app file changes
'Project: Example App':
  - projects/example-app/*
  - projects/example-app/**/*

# Add 'Project: Component' label to any change within the 'component' package
'Project: Component':
  - modules/component/*
  - modules/component/**/*

# Add 'Project: Component Store' label to any change within the 'component-store' package
'Project: Component Store':
  - modules/component-store/*
  - modules/component-store/**/*

# Add 'Project: Data' label to any change within the 'data' package
'Project: Data':
  - modules/data/*
  - modules/data/**/*

# Add 'Project: Effects' label to any change within the 'effects' package
'Project: Effects':
  - modules/effects/*
  - modules/effects/**/*

# Add 'Project: Entity' label to any change within the 'entity' package
'Project: Entity':
  - modules/entity/*
  - modules/entity/**/*

# Add 'Project: Router Store' label to any change within the 'router-store' package
'Project: Router Store':
  - modules/router-store/*
  - modules/router-store/**/*

# Add 'Project: Schematics' label to any change within the 'schematics' package
'Project: Schematics':
  - modules/schematics/*
  - modules/schematics/**/*

# Add 'Project: Store' label to any change within the 'store' package
'Project: Store':
  - modules/store/*
  - modules/store/**/*

# Add 'Project: Store Devtools' label to any change within the 'store-devtools' package
'Project: Store Devtools':
  - modules/store-devtools/*
  - modules/store-devtools/**/*

# Add 'dependencies' label to any change to npm or yarn related stuff
dependencies:
  - package.json
  - yarn.lock

fix(signals): define deep signals as configurable properties (#4147)
  modules/signals/src/deep-signal.ts
Labels: none

add folks to receive emails
  projects/ngrx.io/src/app/custom-elements/contact-form/contact-form.component.ts
Labels: Project: ngrx.io

punctuation and spacing
  projects/ngrx.io/content/marketing/workshops.md
Labels: Project: ngrx.io

docs(store): add selectSignal documentation (#4111)
  projects/ngrx.io/content/guide/store/selectors.md
Labels: Project: ngrx.io

docs: add ngrx workshops (#4148)
  projects/ngrx.io/content/marketing/events.json
  projects/ngrx.io/content/marketing/workshops.md
  projects/ngrx.io/content/navigation.json
  projects/ngrx.io/src/app/custom-elements/contact-form/contact-form.component.ts
  projects/ngrx.io/src/styles/1-layouts/top-menu/_top-menu-theme.scss
  projects/ngrx.io/src/styles/1-layouts/top-menu/_top-menu.scss
Labels: Project: ngrx.io

fix(signals): allow using signalStore and signalState in TS libs
  modules/signals/spec/patch-state.spec.ts
  modules/signals/spec/signal-state.spec.ts
  modules/signals/spec/signal-store-feature.spec.ts
  modules/signals/spec/signal-store.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/spec/with-state.spec.ts
  modules/signals/src/deep-signal.ts
  modules/signals/src/get-state.ts
  modules/signals/src/patch-state.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store-models.ts
  modules/signals/src/signal-store.ts
  modules/signals/src/state-signal.ts
  modules/signals/src/with-hooks.ts
  modules/signals/src/with-methods.ts
  modules/signals/src/with-state.ts
Labels: none

docs: fix minor typos
  projects/ngrx.io/content/guide/component-store/lifecycle.md
  projects/ngrx.io/content/guide/store/reducers.md
Labels: Project: ngrx.io

docs: fix minor typos (#4153)
  projects/ngrx.io/content/guide/component-store/lifecycle.md
  projects/ngrx.io/content/guide/store/reducers.md
Labels: Project: ngrx.io

fix(signals): allow using signalStore and signalState in TS libs (#4152)
  modules/signals/spec/patch-state.spec.ts
  modules/signals/spec/signal-state.spec.ts
  modules/signals/spec/signal-store-feature.spec.ts
  modules/signals/spec/signal-store.spec.ts
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/spec/with-state.spec.ts
  modules/signals/src/deep-signal.ts
  modules/signals/src/get-state.ts
  modules/signals/src/patch-state.ts
  modules/signals/src/signal-state.ts
  modules/signals/src/signal-store-models.ts
  modules/signals/src/signal-store.ts
  modules/signals/src/state-signal.ts
  modules/signals/src/with-hooks.ts
  modules/signals/src/with-methods.ts
  modules/signals/src/with-state.ts
Labels: none

chore: release 17.0.1
  CHANGELOG.md
  modules/component-store/package.json
  modules/component-store/schematics-core/utility/libs-version.ts
  modules/component/package.json
  modules/component/schematics-core/utility/libs-version.ts
  modules/data/package.json
  modules/data/schematics-core/utility/libs-version.ts
  modules/effects/package.json
  modules/effects/schematics-core/utility/libs-version.ts
  modules/entity/package.json
  modules/entity/schematics-core/utility/libs-version.ts
  modules/eslint-plugin/package.json
  modules/operators/package.json
  modules/operators/schematics-core/utility/libs-version.ts
  modules/router-store/package.json
  modules/router-store/schematics-core/utility/libs-version.ts
  modules/schematics-core/utility/libs-version.ts
  modules/schematics/package.json
  modules/schematics/schematics-core/utility/libs-version.ts
  modules/signals/package.json
  modules/signals/schematics-core/utility/libs-version.ts
  modules/store-devtools/package.json
  modules/store-devtools/schematics-core/utility/libs-version.ts
  modules/store/package.json
  modules/store/schematics-core/utility/libs-version.ts
  package.json
Labels: Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

docs: add initial docs for @ngrx/signals
  projects/ngrx.io/content/guide/signals/index.md
  projects/ngrx.io/content/guide/signals/install.md
  projects/ngrx.io/content/guide/signals/lifecycle-hooks.md
  projects/ngrx.io/content/guide/signals/rxjs-interop.md
  projects/ngrx.io/content/guide/signals/state.md
  projects/ngrx.io/content/guide/signals/store.md
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io

docs(signals): initialize documentation
  modules/signals/package.json
  projects/ngrx.io/content/guide/signals/index.md
  projects/ngrx.io/content/guide/signals/install.md
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
  projects/ngrx.io/content/guide/signals/signal-state.md
  projects/ngrx.io/content/guide/signals/signal-store/custom-store-features.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/index.md
  projects/ngrx.io/content/marketing/docs.md
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io

docs: apply CR feedback
  projects/ngrx.io/content/guide/signals/index.md
Labels: Project: ngrx.io

docs: apply CR suggestions
  projects/ngrx.io/content/guide/signals/index.md
Labels: Project: ngrx.io

docs(signals): initialize documentation (#4155)
  modules/signals/package.json
  projects/ngrx.io/content/guide/signals/index.md
  projects/ngrx.io/content/guide/signals/install.md
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
  projects/ngrx.io/content/guide/signals/signal-state.md
  projects/ngrx.io/content/guide/signals/signal-store/custom-store-features.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/index.md
  projects/ngrx.io/content/marketing/docs.md
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io

docs(ngrx-ducks): remove library from resources
  projects/ngrx.io/content/marketing/resources.json
Labels: Project: ngrx.io

docs(ngrx-ducks): remove library from resources (#4159)
  projects/ngrx.io/content/marketing/resources.json
Labels: Project: ngrx.io

Add migration path link to selector.ts deprecation notice
  modules/store/src/selector.ts
Labels: Project: Store

docs: add updated docs for @ngrx/signals
  projects/ngrx.io/content/guide/signals/install.md
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
  projects/ngrx.io/content/guide/signals/rxjs-interop.md
  projects/ngrx.io/content/guide/signals/signal-state.md
  projects/ngrx.io/content/guide/signals/signal-store/index.md
  projects/ngrx.io/content/guide/signals/signal-store/lifecycle-hooks.md
  projects/ngrx.io/content/guide/signals/state.md
  projects/ngrx.io/content/guide/signals/store.md
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io

docs: update dark theme colors
  projects/ngrx.io/src/app/custom-elements/code/code.component.spec.ts
  projects/ngrx.io/src/app/custom-elements/code/code.component.ts
  projects/ngrx.io/src/styles/1-layouts/sidenav/_sidenav-theme.scss
  projects/ngrx.io/src/styles/2-modules/code/_code-theme.scss
Labels: Project: ngrx.io

docs: update dark theme colors (#4167)
  projects/ngrx.io/src/app/custom-elements/code/code.component.spec.ts
  projects/ngrx.io/src/app/custom-elements/code/code.component.ts
  projects/ngrx.io/src/styles/1-layouts/sidenav/_sidenav-theme.scss
  projects/ngrx.io/src/styles/2-modules/code/_code-theme.scss
Labels: Project: ngrx.io

fix(eslint-plugin): only report main pipe violations
  modules/eslint-plugin/spec/rules/effects/avoid-cyclic-effects.spec.ts
  modules/eslint-plugin/src/rules/effects/avoid-cyclic-effects.ts
Labels: none

refactor(eslint-plugin): move spec file to correct folder
  modules/eslint-plugin/spec/rules/component-store/avoid-combining-component-store-selectors.spec.ts
Labels: none

chore: review feedback fixes
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
  projects/ngrx.io/content/guide/signals/signal-state.md
  projects/ngrx.io/content/guide/signals/signal-store/lifecycle-hooks.md
Labels: Project: ngrx.io

chore: cleanup
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
Labels: Project: ngrx.io

docs(signals): add updated docs for @ngrx/signals (#4165)
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
  projects/ngrx.io/content/guide/signals/signal-state.md
  projects/ngrx.io/content/guide/signals/signal-store/index.md
  projects/ngrx.io/content/guide/signals/signal-store/lifecycle-hooks.md
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io

fix(eslint-plugin): only report main pipe violations (#4169)
  modules/eslint-plugin/spec/rules/component-store/avoid-combining-component-store-selectors.spec.ts
  modules/eslint-plugin/spec/rules/effects/avoid-cyclic-effects.spec.ts
  modules/eslint-plugin/src/rules/effects/avoid-cyclic-effects.ts
Labels: none

docs(signals): remove extra semi-colon
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
Labels: Project: ngrx.io

docs(signals): add documentation for entity management
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

docs(signals): fix filenames in signals docs
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

docs(signals): fix format changes due to prettier
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

docs(signals): remove extra semi-colon (#4174)
  projects/ngrx.io/content/guide/signals/rxjs-integration.md
Labels: Project: ngrx.io

docs(signals): fix filenames in documentation (#4176)
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

docs(signals): add `withState` import to counter.store.ts
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

docs(signals): add `withState` import to counter.store.ts (#4178)
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

docs(signals): fix typo in docu
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Revert "docs(signals): fix typo in docu"
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io

Update projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
  projects/ngrx.io/content/guide/signals/signal-store/entity-management.md
Labels: Project: ngrx.io
