Repository ngrx/platform, changes with the labels that .github/labeler.yml gives for each.
All labels: Project: ngrx.io, Project: Example App, Project: Component, Project: Component Store, Project: Data, Project: Effects, Project: Entity, Project: Router Store, Project: Schematics, Project: Store, Project: Store Devtools, dependencies

.github/labeler.yml:

# Add 'Project: ngrx.io' label to any ngrx.io file changes
'Project: ngrx.io':
  - projects/ngrx.io/*
  - projects/ngrx.io/**/*

# Add 'Project: Example App' label to any example-app file changes
'Project: Example App':
  - projects/example-app/*
  - projects/example-app/**/*

# Add 'Project: Component' label to any change within the 'component' package
'Project: Component':
  - modules/component/*
  - modules/component/**/*

# Add 'Project: Component Store' label to any change within the 'component-store' package
'Project: Component Store':
  - modules/component-store/*
  - modules/component-store/**/*

# Add 'Project: Data' label to any change within the 'data' package
'Project: Data':
  - modules/data/*
  - modules/data/**/*

# Add 'Project: Effects' label to any change within the 'effects' package
'Project: Effects':
  - modules/effects/*
  - modules/effects/**/*

# Add 'Project: Entity' label to any change within the 'entity' package
'Project: Entity':
  - modules/entity/*
  - modules/entity/**/*

# Add 'Project: Router Store' label to any change within the 'router-store' package
'Project: Router Store':
  - modules/router-store/*
  - modules/router-store/**/*

# Add 'Project: Schematics' label to any change within the 'schematics' package
'Project: Schematics':
  - modules/schematics/*
  - modules/schematics/**/*

# Add 'Project: Store' label to any change within the 'store' package
'Project: Store':
  - modules/store/*
  - modules/store/**/*

# Add 'Project: Store Devtools' label to any change within the 'store-devtools' package
'Project: Store Devtools':
  - modules/store-devtools/*
  - modules/store-devtools/**/*

# Add 'dependencies' label to any change to npm or yarn related stuff
dependencies:
  - package.json
  - yarn.lock

chore(eslint-plugin): use latest typescript versions in peerDependencies (#4215)
  modules/eslint-plugin/package.json
Labels: none

docs: update NgRx logo
  projects/ngrx.io/content/images/guide/store/state-management-lifecycle.png
  projects/ngrx.io/src/assets/images/badge.svg
  projects/ngrx.io/src/assets/images/favicons/android-chrome-192x192.png
  projects/ngrx.io/src/assets/images/favicons/android-chrome-512x512.png
  projects/ngrx.io/src/assets/images/favicons/apple-touch-icon.png
  projects/ngrx.io/src/assets/images/favicons/favicon-144x144.png
  projects/ngrx.io/src/assets/images/favicons/favicon-16x16.png
  projects/ngrx.io/src/assets/images/favicons/favicon-194x194.png
  projects/ngrx.io/src/assets/images/favicons/favicon-32x32.png
  projects/ngrx.io/src/assets/images/favicons/favicon-96x96.png
  projects/ngrx.io/src/assets/images/favicons/favicon.ico
  projects/ngrx.io/src/assets/images/ngrx-badge.png
  projects/ngrx.io/src/assets/images/state.svg
  projects/ngrx.io/src/pwa-manifest.json
Labels: Project: ngrx.io

add all white logo
  projects/ngrx.io/src/app/app.component.html
  projects/ngrx.io/src/assets/images/ngrx-badge-white.svg
Labels: Project: ngrx.io

update to the latest iteration of logo (Marko)
  projects/ngrx.io/src/assets/images/badge.svg
  projects/ngrx.io/src/assets/images/favicons/android-chrome-192x192.png
  projects/ngrx.io/src/assets/images/favicons/android-chrome-512x512.png
  projects/ngrx.io/src/assets/images/favicons/apple-touch-icon.png
  projects/ngrx.io/src/assets/images/favicons/favicon-16x16.png
  projects/ngrx.io/src/assets/images/favicons/favicon-32x32.png
  projects/ngrx.io/src/assets/images/favicons/favicon.ico
  projects/ngrx.io/src/assets/images/ngrx-badge.png
Labels: Project: ngrx.io

docs: update NgRx logo (#4218)
  projects/ngrx.io/content/images/guide/store/state-management-lifecycle.png
  projects/ngrx.io/src/app/app.component.html
  projects/ngrx.io/src/assets/images/badge.svg
  projects/ngrx.io/src/assets/images/favicons/android-chrome-192x192.png
  projects/ngrx.io/src/assets/images/favicons/android-chrome-512x512.png
  projects/ngrx.io/src/assets/images/favicons/apple-touch-icon.png
  projects/ngrx.io/src/assets/images/favicons/favicon-144x144.png
  projects/ngrx.io/src/assets/images/favicons/favicon-16x16.png
  projects/ngrx.io/src/assets/images/favicons/favicon-194x194.png
  projects/ngrx.io/src/assets/images/favicons/favicon-32x32.png
  projects/ngrx.io/src/assets/images/favicons/favicon-96x96.png
  projects/ngrx.io/src/assets/images/favicons/favicon.ico
  projects/ngrx.io/src/assets/images/ngrx-badge-white.svg
  projects/ngrx.io/src/assets/images/ngrx-badge.png
  projects/ngrx.io/src/assets/images/state.svg
  projects/ngrx.io/src/pwa-manifest.json
Labels: Project: ngrx.io

perf(signals): avoid unecessary observable conversions in rxMethod
  modules/signals/rxjs-interop/src/rx-method.ts
Labels: none

Revert "fix(store-devtools): remove `unwrapAction`"
  modules/store-devtools/src/extension.ts
Labels: Project: Store Devtools

update logo
  .gitignore
  projects/ngrx.io/src/assets/images/badge.svg
  projects/ngrx.io/src/assets/images/ngrx-badge.png
Labels: Project: ngrx.io

docs: add April workshop and remove Jan
  projects/ngrx.io/content/marketing/workshops.md
Labels: Project: ngrx.io

docs: replace with center-aligned logo (#4221)
  .gitignore
  projects/ngrx.io/src/assets/images/badge.svg
  projects/ngrx.io/src/assets/images/ngrx-badge.png
Labels: Project: ngrx.io

docs: add April workshop and remove Jan (#4222)
  projects/ngrx.io/content/marketing/workshops.md
Labels: Project: ngrx.io

docs: update Press Kit page and icons
  projects/ngrx.io/content/images/guide/store/state-management-lifecycle.png
  projects/ngrx.io/content/images/guide/store/state-management-lifecycle.psd
  projects/ngrx.io/content/marketing/presskit.md
  projects/ngrx.io/src/app/app.component.html
  projects/ngrx.io/src/assets/images/badge-white.png
  projects/ngrx.io/src/assets/images/badge-white.svg
  projects/ngrx.io/src/assets/images/badge.png
  projects/ngrx.io/src/assets/images/badge.svg
  projects/ngrx.io/src/assets/images/favicons/android-chrome-192x192.png
  projects/ngrx.io/src/assets/images/favicons/android-chrome-512x512.png
  projects/ngrx.io/src/assets/images/favicons/apple-touch-icon.png
  projects/ngrx.io/src/assets/images/favicons/favicon-16x16.png
  projects/ngrx.io/src/assets/images/favicons/favicon-32x32.png
  projects/ngrx.io/src/assets/images/favicons/favicon.ico
  projects/ngrx.io/src/assets/images/ngrx-badge-white.svg
  projects/ngrx.io/src/assets/images/ngrx-badge.png
  projects/ngrx.io/src/index.html
Labels: Project: ngrx.io

docs: update Press Kit page and icons (#4223)
  projects/ngrx.io/content/images/guide/store/state-management-lifecycle.png
  projects/ngrx.io/content/images/guide/store/state-management-lifecycle.psd
  projects/ngrx.io/content/marketing/presskit.md
  projects/ngrx.io/src/app/app.component.html
  projects/ngrx.io/src/assets/images/badge-white.png
  projects/ngrx.io/src/assets/images/badge-white.svg
  projects/ngrx.io/src/assets/images/badge.png
  projects/ngrx.io/src/assets/images/badge.svg
  projects/ngrx.io/src/assets/images/favicons/android-chrome-192x192.png
  projects/ngrx.io/src/assets/images/favicons/android-chrome-512x512.png
  projects/ngrx.io/src/assets/images/favicons/apple-touch-icon.png
  projects/ngrx.io/src/assets/images/favicons/favicon-16x16.png
  projects/ngrx.io/src/assets/images/favicons/favicon-32x32.png
  projects/ngrx.io/src/assets/images/favicons/favicon.ico
  projects/ngrx.io/src/assets/images/ngrx-badge-white.svg
  projects/ngrx.io/src/assets/images/ngrx-badge.png
  projects/ngrx.io/src/index.html
Labels: Project: ngrx.io

perf(signals): avoid unecessary observable conversions in rxMethod (#4219)
  modules/signals/rxjs-interop/src/rx-method.ts
Labels: none

fix(store-devtools): indirect `eval` to unwrap action
  modules/store-devtools/spec/extension.spec.ts
  modules/store-devtools/src/extension.ts
Labels: Project: Store Devtools

Revert "perf(signals): avoid unecessary observable conversions in rxMethod (#4219)"
  modules/signals/rxjs-interop/src/rx-method.ts
Labels: none

fix(signals): rxmethod running in `effect` causes NG0600
  modules/signals/rxjs-interop/spec/rx-method.spec.ts
Labels: none

fix(store-devtools): replace direct with indirect `eval` (#4216)
  modules/store-devtools/spec/extension.spec.ts
  modules/store-devtools/src/extension.ts
Labels: Project: Store Devtools

Revert "Revert "perf(signals): avoid unecessary observable conversions in rxMethod (#4219)""
  modules/signals/rxjs-interop/src/rx-method.ts
Labels: none

fix(signals): let `rxMethod` run `untracked`
  modules/signals/rxjs-interop/spec/rx-method.spec.ts
  modules/signals/rxjs-interop/src/rx-method.ts
Labels: none

test: simplify test that verifies signal updates
  modules/signals/rxjs-interop/spec/rx-method.spec.ts
Labels: none

fix(signals): run `rxMethod` outside of reactive context (#4224)
  modules/signals/rxjs-interop/spec/rx-method.spec.ts
  modules/signals/rxjs-interop/src/rx-method.ts
Labels: none

test(signals): verify that onInit hook is executed in injection context
  modules/signals/spec/signal-store.spec.ts
Labels: none

docs: improve workshops page
  projects/ngrx.io/content/images/bios/marko.jpg
  projects/ngrx.io/content/marketing/workshops.md
Labels: Project: ngrx.io

docs: improve workshops page (#4226)
  projects/ngrx.io/content/images/bios/marko.jpg
  projects/ngrx.io/content/marketing/workshops.md
Labels: Project: ngrx.io

docs: add operators to issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: none

docs: add operators to issue template (#4231)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: none

refactor(example-app): use create action group function for actions
  projects/example-app/src/app/auth/actions/auth-api.actions.ts
  projects/example-app/src/app/auth/actions/auth.actions.ts
  projects/example-app/src/app/auth/actions/index.ts
  projects/example-app/src/app/auth/actions/login-page.actions.ts
  projects/example-app/src/app/books/actions/book.actions.ts
  projects/example-app/src/app/books/actions/books-api.actions.ts
  projects/example-app/src/app/books/actions/collection-api.actions.ts
  projects/example-app/src/app/books/actions/collection-page.actions.ts
  projects/example-app/src/app/books/actions/find-book-page.actions.ts
  projects/example-app/src/app/books/actions/index.ts
  projects/example-app/src/app/books/actions/selected-book-page.actions.ts
  projects/example-app/src/app/books/actions/view-book-page.actions.ts
  projects/example-app/src/app/core/actions/index.ts
  projects/example-app/src/app/core/actions/layout.actions.ts
  projects/example-app/src/app/core/actions/user.actions.ts
Labels: Project: Example App

perf(signals): avoid creating unnecessary objects in excludeKeys
  modules/signals/src/helpers.ts
Labels: none

refactor(example-app): remove barrel files for actions
  projects/example-app/src/app/auth/actions/index.ts
  projects/example-app/src/app/auth/containers/login-page.component.spec.ts
  projects/example-app/src/app/auth/containers/login-page.component.ts
  projects/example-app/src/app/auth/effects/auth.effects.spec.ts
  projects/example-app/src/app/auth/effects/auth.effects.ts
  projects/example-app/src/app/auth/reducers/auth.reducer.spec.ts
  projects/example-app/src/app/auth/reducers/auth.reducer.ts
  projects/example-app/src/app/auth/reducers/login-page.reducer.spec.ts
  projects/example-app/src/app/auth/reducers/login-page.reducer.ts
  projects/example-app/src/app/auth/services/auth-guard.service.ts
  projects/example-app/src/app/books/actions/index.ts
  projects/example-app/src/app/books/containers/collection-page.component.spec.ts
  projects/example-app/src/app/books/containers/collection-page.component.ts
  projects/example-app/src/app/books/containers/find-book-page.component.spec.ts
  projects/example-app/src/app/books/containers/find-book-page.component.ts
  projects/example-app/src/app/books/containers/selected-book-page.component.spec.ts
  projects/example-app/src/app/books/containers/selected-book-page.component.ts
  projects/example-app/src/app/books/containers/view-book-page.component.spec.ts
  projects/example-app/src/app/books/containers/view-book-page.component.ts
  projects/example-app/src/app/books/effects/book.effects.spec.ts
  projects/example-app/src/app/books/effects/book.effects.ts
  projects/example-app/src/app/books/effects/collection.effects.spec.ts
  projects/example-app/src/app/books/effects/collection.effects.ts
  projects/example-app/src/app/books/guards/book-exists.guard.ts
  projects/example-app/src/app/books/reducers/books.reducer.spec.ts
  projects/example-app/src/app/books/reducers/books.reducer.ts
  projects/example-app/src/app/books/reducers/collection.reducer.ts
  projects/example-app/src/app/books/reducers/search.reducer.ts
  projects/example-app/src/app/core/actions/index.ts
  projects/example-app/src/app/core/containers/app.component.ts
  projects/example-app/src/app/core/effects/user.effects.spec.ts
  projects/example-app/src/app/core/effects/user.effects.ts
  projects/example-app/src/app/core/reducers/layout.reducer.ts
Labels: Project: Example App

perf(signals): avoid creating unnecessary objects in excludeKeys (#4240)
  modules/signals/src/helpers.ts
Labels: none

refactor(signals): expose `StateSignal`
  modules/signals/src/index.ts
Labels: none

fix(signals): correctly infer the type of methods with generics
  modules/signals/spec/types/signal-store.types.spec.ts
  modules/signals/src/signal-store-models.ts
Labels: none

docs(signals): improve SignalState docs
  projects/ngrx.io/content/guide/signals/index.md
  projects/ngrx.io/content/guide/signals/signal-state.md
  projects/ngrx.io/content/guide/signals/signal-store/index.md
Labels: Project: ngrx.io

docs(signals): improve Lifecycle Hooks page
  projects/ngrx.io/content/guide/signals/signal-store/lifecycle-hooks.md
Labels: Project: ngrx.io

test(signals): verify that onInit hook is executed in injection context (#4225)
  modules/signals/spec/signal-store.spec.ts
Labels: none

feat(signals): signals testing package with provideMockSignalStore inital
  modules/signals/rxjs-interop/src/rx-method.ts
  modules/signals/testing/index.ts
  modules/signals/testing/ng-package.json
  modules/signals/testing/spec/fake-rx-method.spec.ts
  modules/signals/testing/spec/mock-signal-store.spec.ts
  modules/signals/testing/src/fake-rx-method.ts
  modules/signals/testing/src/mock-signal-store.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: dependencies

docs(runtime-checks): fixed bracket typos
  projects/ngrx.io/content/guide/store/configuration/runtime-checks.md
Labels: Project: ngrx.io

docs: fixed bracket typos in runtime checks guide (#4254)
  projects/ngrx.io/content/guide/store/configuration/runtime-checks.md
Labels: Project: ngrx.io

docs(signals): improve Lifecycle Hooks page (#4251)
  projects/ngrx.io/content/guide/signals/signal-store/lifecycle-hooks.md
Labels: Project: ngrx.io
