Repository ngrx/platform, pull requests merged in 2018-11, with the labels that each got.

#1396 docs: rewrite Actions guide
  projects/ngrx.io/content/guide/store/actions.md
Labels: Comp: Docs, Project: Store, enhancement

#1403 docs: rewrite reducers guide
  projects/ngrx.io/content/guide/store/index.md
  projects/ngrx.io/content/guide/store/reducers.md
  projects/ngrx.io/content/marketing/docs.md
  projects/ngrx.io/content/navigation.json
Labels: Comp: Docs, Project: Store, enhancement

#1422 docs(entity): add example for selectId
  projects/ngrx.io/content/guide/entity/adapter.md
Labels: Comp: Docs, Project: Entity

#1429 docs: open docs sidenav by default
  projects/ngrx.io/content/navigation.json
Labels: Project: ngrx.io, enhancement
