Repository ngrx/platform, pull requests merged in 2019-05, with the labels that each got.

#1820 docs: add and fix the original ngrx-data docs
  projects/ngrx.io/content/guide/data/architecture-overview.md
  projects/ngrx.io/content/guide/data/architecture.md
  projects/ngrx.io/content/guide/data/entity-actions.md
  projects/ngrx.io/content/guide/data/entity-change-tracker.md
  projects/ngrx.io/content/guide/data/entity-collection-service.md
  projects/ngrx.io/content/guide/data/entity-collection.md
  projects/ngrx.io/content/guide/data/entity-dataservice.md
  projects/ngrx.io/content/guide/data/entity-effects.md
  projects/ngrx.io/content/guide/data/entity-metadata.md
  projects/ngrx.io/content/guide/data/entity-reducer.md
  projects/ngrx.io/content/guide/data/entity-services.md
  projects/ngrx.io/content/guide/data/extension-points.md
  projects/ngrx.io/content/guide/data/faq.md
  projects/ngrx.io/content/guide/data/index.md
  projects/ngrx.io/content/guide/data/limitations.md
  projects/ngrx.io/content/guide/data/save-entities.md
  projects/ngrx.io/content/images/guide/data/action-flow.png
  projects/ngrx.io/content/navigation.json
Labels: 8.x, Comp: Docs, Project: Data

#1862 docs(effects): update example in Effects Module
  projects/ngrx.io/content/guide/effects/index.md
Labels: Comp: Docs

#1870 docs(home): improve responsiveness on the home page for small screens
  projects/ngrx.io/src/app/custom-elements/ngrx/code-block.component.ts
  projects/ngrx.io/src/styles/1-layouts/_homepage.scss
  projects/ngrx.io/src/styles/2-modules/_heading-anchors.scss
  projects/ngrx.io/src/styles/_ngrx.scss
Labels: Comp: Docs

#1881 feat(effects): resubscribe to effects on error
  modules/effects/spec/effect_creator.spec.ts
  modules/effects/spec/effect_decorator.spec.ts
  modules/effects/spec/effect_sources.spec.ts
  modules/effects/spec/effects_metadata.spec.ts
  modules/effects/src/effect_creator.ts
  modules/effects/src/effect_decorator.ts
  modules/effects/src/effect_notification.ts
  modules/effects/src/effect_sources.ts
  modules/effects/src/effects_metadata.ts
  modules/effects/src/effects_resolver.ts
  modules/effects/src/models.ts
  projects/ngrx.io/content/guide/effects/lifecycle.md
  projects/ngrx.io/content/guide/effects/testing.md
  projects/ngrx.io/content/guide/migration/v8.md
Labels: Breaking Change
