Repository ngrx/platform, pull requests merged in 2019-04, with the labels that each got.

#1613 feat(Store): runtime checks
  modules/router-store/spec/integration.spec.ts
  modules/store/spec/meta-reducers/action_serialization_reducer.spec.ts
  modules/store/spec/meta-reducers/immutability_reducer.spec.ts
  modules/store/spec/meta-reducers/state_serialization_reducer.spec.ts
  modules/store/spec/meta-reducers/utils.spec.ts
  modules/store/spec/runtime_checks.spec.ts
  modules/store/src/index.ts
  modules/store/src/meta-reducers/action_serialization_reducer.ts
  modules/store/src/meta-reducers/immutability_reducer.ts
  modules/store/src/meta-reducers/index.ts
  modules/store/src/meta-reducers/state_serialization_reducer.ts
  modules/store/src/meta-reducers/utils.ts
  modules/store/src/models.ts
  modules/store/src/runtime_checks.ts
  modules/store/src/state.ts
  modules/store/src/store_module.ts
  modules/store/src/tokens.ts
  tests.js
Labels: Breaking Change

#1589 fix(StoreDevTools): rename action list filters
  modules/store-devtools/spec/extension.spec.ts
  modules/store-devtools/spec/integration.spec.ts
  modules/store-devtools/spec/store.spec.ts
  modules/store-devtools/src/config.ts
  modules/store-devtools/src/devtools.ts
  modules/store-devtools/src/extension.ts
  modules/store-devtools/src/reducer.ts
  modules/store-devtools/src/utils.ts
  projects/ngrx.io/content/guide/store-devtools/config.md
Labels: Breaking Change

#1579 fix(Store): selector with only a projector
  modules/store/spec/integration.spec.ts
  modules/store/spec/selector.spec.ts
  modules/store/src/selector.ts
Labels: Breaking Change, Project: Store

#1672 feat(router-store): Make usage of forRoot required (#1662)
  modules/router-store/src/router_store_module.ts
Labels: Breaking Change

#1664 refactor(example): remove @ngrx/db
  package.json
  projects/example-app-cypress/integration/round-trip.spec.ts
  projects/example-app-cypress/support/index.js
  projects/example-app/README.md
  projects/example-app/jest.config.js
  projects/example-app/src/app/app.module.ts
  projects/example-app/src/app/books/effects/collection.effects.spec.ts
  projects/example-app/src/app/books/effects/collection.effects.ts
  projects/example-app/src/app/core/services/book-storage.service.spec.ts
  projects/example-app/src/app/core/services/book-storage.service.ts
  projects/example-app/src/app/core/services/index.ts
  projects/example-app/src/app/db.ts
  yarn.lock
Labels: Needs Cleanup

#1680 chore(Example): update jest
  .circleci/config.yml
  package.json
  projects/example-app/jest.config.js
  projects/example-app/src/app/auth/components/__snapshots__/login-form.component.spec.ts.snap
  projects/example-app/src/app/auth/components/__snapshots__/logout-confirmation-dialog.component.spec.ts.snap
  projects/example-app/src/app/auth/containers/__snapshots__/login-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/__snapshots__/collection-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/__snapshots__/find-book-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/__snapshots__/selected-book-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/__snapshots__/view-book-page.component.spec.ts.snap
  projects/example-app/tsconfig.spec.json
  yarn.lock
Labels: Needs Cleanup
