Repository ngrx/platform, pull requests merged in 2019-10, with the labels that each got.

#2087 refactor(data): use createEffect function instead of decorator
  modules/data/spec/entity-data.module.spec.ts
  modules/data/src/effects/entity-cache-effects.ts
  modules/data/src/effects/entity-effects.ts
  modules/data/src/entity-data.module.ts
Labels: Project: Data

#2150 Refactor:type safe feature option in dev tools
  modules/store-devtools/spec/extension.spec.ts
  modules/store-devtools/src/config.ts
  modules/store-devtools/src/index.ts
Labels: Project: Store Devtools, enhancement

#2136 feat(schematics): add createEffect migration
  modules/data/schematics-core/utility/ast-utils.ts
  modules/data/schematics-core/utility/change.ts
  modules/effects/schematics-core/utility/ast-utils.ts
  modules/effects/schematics-core/utility/change.ts
  modules/entity/schematics-core/utility/ast-utils.ts
  modules/entity/schematics-core/utility/change.ts
  modules/router-store/schematics-core/utility/ast-utils.ts
  modules/router-store/schematics-core/utility/change.ts
  modules/schematics-core/utility/ast-utils.ts
  modules/schematics-core/utility/change.ts
  modules/schematics/BUILD
  modules/schematics/collection.json
  modules/schematics/schematics-core/utility/ast-utils.ts
  modules/schematics/schematics-core/utility/change.ts
  modules/schematics/src/create-effect-migration/index.spec.ts
  modules/schematics/src/create-effect-migration/index.ts
  modules/schematics/src/create-effect-migration/schema.json
  modules/schematics/src/create-effect-migration/schema.ts
  modules/store-devtools/schematics-core/utility/ast-utils.ts
  modules/store-devtools/schematics-core/utility/change.ts
  modules/store/schematics-core/utility/ast-utils.ts
  modules/store/schematics-core/utility/change.ts
Labels: Project: Schematics

#2151 Rename selectors example app
  projects/example-app/src/app/auth/containers/login-page.component.spec.ts
  projects/example-app/src/app/auth/containers/login-page.component.ts
  projects/example-app/src/app/auth/reducers/index.ts
  projects/example-app/src/app/auth/services/auth-guard.service.spec.ts
  projects/example-app/src/app/auth/services/auth-guard.service.ts
  projects/example-app/src/app/books/containers/collection-page.component.spec.ts
  projects/example-app/src/app/books/containers/collection-page.component.ts
  projects/example-app/src/app/books/containers/find-book-page.component.spec.ts
  projects/example-app/src/app/books/containers/find-book-page.component.ts
  projects/example-app/src/app/books/containers/selected-book-page.component.ts
  projects/example-app/src/app/books/guards/book-exists.guard.ts
  projects/example-app/src/app/books/reducers/__snapshots__/books.reducer.spec.ts.snap
  projects/example-app/src/app/books/reducers/books.reducer.spec.ts
  projects/example-app/src/app/books/reducers/books.reducer.ts
  projects/example-app/src/app/books/reducers/index.ts
  projects/example-app/src/app/core/containers/app.component.ts
  projects/example-app/src/app/core/reducers/layout.reducer.ts
  projects/example-app/src/app/reducers/index.ts
Labels: Project: Example App

#2128 docs(data): selectors
  projects/ngrx.io/content/guide/data/extension-points.md
Labels: Needs Cleanup, Project: Data

#2155 Fix disallow arrays in action creators
  modules/store/spec/action_creator.spec.ts
  modules/store/src/action_creator.ts
  modules/store/src/models.ts
Labels: Need Discussion, Project: Store

#2127 docs(data): update refs to EntityReducerFactory
  projects/ngrx.io/content/guide/data/entity-reducer.md
  projects/ngrx.io/content/guide/data/extension-points.md
Labels: Project: Data

#2133 feat(data): add entity config in App module declaration
  modules/data/schematics/ng-add/files/entity-metadata.ts.template
  modules/data/schematics/ng-add/index.spec.ts
  modules/data/schematics/ng-add/index.ts
  modules/data/schematics/ng-add/schema.json
  modules/data/schematics/ng-add/schema.ts
  projects/ngrx.io/content/guide/data/install.md
Labels: Project: Data

#2135 feat(data) create schematics to data
  modules/schematics/collection.json
  modules/schematics/src/data/files/__name@dasherize@if-flat__/__name@dasherize__.service.spec.ts.template
  modules/schematics/src/data/files/__name@dasherize@if-flat__/__name@dasherize__.service.ts.template
  modules/schematics/src/data/files/__name@dasherize@if-flat__/__name@dasherize__.ts.template
  modules/schematics/src/data/index.spec.ts
  modules/schematics/src/data/index.ts
  modules/schematics/src/data/schema.json
  modules/schematics/src/data/schema.ts
  projects/ngrx.io/content/guide/schematics/data.md
Labels: Project: Data
