Repository ngrx/platform, pull requests merged in 2019-03, with the labels that each got.

#1596 refactor(schematics):entity schematics should update the state to plural
  modules/effects/schematics-core/utility/ngrx-utils.ts
  modules/effects/schematics-core/utility/strings.ts
  modules/entity/schematics-core/utility/ngrx-utils.ts
  modules/entity/schematics-core/utility/strings.ts
  modules/router-store/schematics-core/utility/ngrx-utils.ts
  modules/router-store/schematics-core/utility/strings.ts
  modules/schematics-core/utility/ngrx-utils.ts
  modules/schematics-core/utility/strings.ts
  modules/schematics/schematics-core/utility/ngrx-utils.ts
  modules/schematics/schematics-core/utility/strings.ts
  modules/schematics/src/entity/index.spec.ts
  modules/schematics/src/entity/index.ts
  modules/store-devtools/schematics-core/utility/ngrx-utils.ts
  modules/store-devtools/schematics-core/utility/strings.ts
  modules/store/schematics-core/utility/ngrx-utils.ts
  modules/store/schematics-core/utility/strings.ts
Labels: Needs Cleanup, Project: Schematics

#1605 Adding Visual Testing with Applitools
  package.json
  projects/example-app-cypress/cypress.json
  projects/example-app-cypress/integration/round-trip.spec.ts
  projects/example-app-cypress/plugins/index.js
  projects/example-app-cypress/support/index.js
  yarn.lock
Labels: Project: Example App

#1619 chore: update lodash dependency for security alert
  package.json
  yarn.lock
Labels: Project: Build & CI
