Repository ngrx/platform, pull requests merged in 2020-10, with the labels that each got.

#2726 docs(component-store): fix code formatting
  projects/ngrx.io/content/guide/component-store/effect.md
  projects/ngrx.io/content/guide/component-store/read.md
  projects/ngrx.io/content/guide/component-store/write.md
Labels: hacktoberfest-accepted

#2728 fix(store): prevent unexpected behavior of {} as a props type
  modules/store/spec/types/action_creator.spec.ts
  modules/store/src/models.ts
Labels: hacktoberfest-accepted

#2729 docs: describe your change...
  projects/ngrx.io/content/guide/router-store/configuration.md
Labels: hacktoberfest-accepted

#2756 chore: re-include mock_store tests
  modules/store/testing/spec/mock_store.spec.ts
Labels: hacktoberfest-accepted

#2761 refactor(store): open models needed for creating a custom createAction
  modules/store/src/index.ts
Labels: hacktoberfest-accepted

#2737 refactor: consistent naming of injection tokens
  modules/component-store/src/component-store.ts
  modules/data/src/effects/entity-effects-scheduler.ts
  modules/data/src/entity-metadata/entity-metadata.ts
  modules/data/src/reducers/constants.ts
  modules/data/src/selectors/entity-cache-selector.ts
  modules/data/src/utils/interfaces.ts
  modules/effects/src/tokens.ts
  modules/store-devtools/src/config.ts
  modules/store-devtools/src/extension.ts
  modules/store-devtools/src/instrument.ts
Labels: 11.x, hacktoberfest-accepted

#2765 fix(component-store): adjust updater to accept partials
  modules/component-store/spec/types/component-store.types.spec.ts
  modules/component-store/src/component-store.ts
Labels: Project: Component Store
