Repository ngrx/platform, pull requests merged in 2020-03, with the labels that each got.

#2428 docs(data): clarify step one and keep same class name
  projects/ngrx.io/content/guide/data/entity-metadata.md
Labels: Project: Data

#2046 Ngrx component setup
  modules/component/package.json
  modules/component/spec/core/cd-aware.abstract.spec.ts
  modules/component/spec/core/projections/toObservableValue.spec.ts
  modules/component/spec/core/utils/get-change-detection-handling.spec.ts
  modules/component/spec/core/utils/get-global-this.spec.ts
  modules/component/spec/core/utils/has-zone.spec.ts
  modules/component/spec/core/utils/is-ivy.spec.ts
  modules/component/spec/let/let.directive.spec.ts
  modules/component/spec/placeholder.spec.ts
  modules/component/spec/push/push.pipe.spec.ts
  modules/component/spec/reactive-component.module.spec.ts
  modules/component/src/core/cd-aware.abstract.ts
  modules/component/src/core/index.ts
  modules/component/src/core/projections/index.ts
  modules/component/src/core/projections/toObservableValue.ts
  modules/component/src/core/utils/get-change-detection-handling.ts
  modules/component/src/core/utils/get-global-this.ts
  modules/component/src/core/utils/has-zone.ts
  modules/component/src/core/utils/index.ts
  modules/component/src/core/utils/is-ivy.ts
  modules/component/src/core/utils/typing.ts
  modules/component/src/index.ts
  modules/component/src/let/index.ts
  modules/component/src/let/let.directive.ts
  modules/component/src/placeholder.ts
  modules/component/src/push/index.ts
  modules/component/src/push/push.pipe.ts
  modules/component/src/reactive-component.module.ts
  projects/ngrx.io/content/guide/component/let.md
  projects/ngrx.io/content/guide/component/push.md
Labels: Need Discussion

#2383 ref(example): update loadCollection initialize action name
  projects/example-app/src/app/books/actions/collection-page.actions.ts
  projects/example-app/src/app/books/containers/collection-page.component.spec.ts
  projects/example-app/src/app/books/containers/collection-page.component.ts
  projects/example-app/src/app/books/effects/collection.effects.spec.ts
  projects/example-app/src/app/books/effects/collection.effects.ts
  projects/example-app/src/app/books/reducers/collection.reducer.ts
Labels: Needs Cleanup
