Repository ngrx/platform, pull requests merged in 2020-02, with the labels that each got.

#2345 feat: update to Angular 9-rc.13
  .circleci/config.yml
  WORKSPACE
  modules/component/BUILD
  modules/component/spec/BUILD
  modules/data/BUILD
  modules/data/migrations/BUILD
  modules/data/schematics-core/BUILD
  modules/data/schematics/BUILD
  modules/data/spec/BUILD
  modules/effects/BUILD
  modules/effects/migrations/BUILD
  modules/effects/schematics-core/BUILD
  modules/effects/schematics/BUILD
  modules/effects/spec/BUILD
  modules/effects/spec/types/of_type.spec.ts
  modules/entity/BUILD
  modules/entity/migrations/BUILD
  modules/entity/schematics-core/BUILD
  modules/entity/schematics/BUILD
  modules/router-store/BUILD
  modules/router-store/migrations/BUILD
  modules/router-store/schematics-core/BUILD
  modules/router-store/schematics/BUILD
  modules/router-store/spec/BUILD
  modules/schematics/BUILD
  modules/schematics/migrations/BUILD
  modules/schematics/schematics-core/BUILD
  modules/store-devtools/BUILD
  modules/store-devtools/migrations/BUILD
  modules/store-devtools/schematics-core/BUILD
  modules/store-devtools/schematics/BUILD
  modules/store-devtools/spec/BUILD
  modules/store/BUILD
  modules/store/migrations/BUILD
  modules/store/schematics-core/BUILD
  modules/store/schematics/BUILD
  modules/store/spec/BUILD
  modules/store/testing/spec/BUILD
  package.json
  tools/defaults.bzl
  tools/testing/BUILD
  yarn.lock
Labels: 9.x

#2325 feat(store): add default generic type to Store and MockStore
  modules/store/src/store.ts
  modules/store/testing/src/mock_store.ts
  projects/ngrx.io/content/guide/store/selectors.md
Labels: Project: Store

#2381 fix(store): provide the same instance of MockStore
  modules/store/testing/spec/mock_store.spec.ts
  modules/store/testing/src/testing.ts
Labels: Project: Store

#2375 refactor(example): use barrel import for GoogleBooksService
  projects/example-app/src/app/books/effects/book.effects.spec.ts
  projects/example-app/src/app/books/effects/book.effects.ts
  projects/example-app/src/app/books/guards/book-exists.guard.ts
  projects/example-app/src/app/core/services/google-books.service.spec.ts
Labels: Needs Cleanup

#2361 feat(store): testing - clean up mock store a bit
  modules/store/testing/spec/mock_store.spec.ts
  modules/store/testing/src/mock_store.ts
Labels: Project: Store

#2402 docs: update MockStore usage
  projects/ngrx.io/content/examples/testing-store/src/app/user-greeting.component.spec.ts
  projects/ngrx.io/content/guide/store/testing.md
Labels: 9.x

#2392 docs: add v9 migration
  projects/ngrx.io/content/guide/migration/v9.md
  projects/ngrx.io/content/navigation.json
Labels: 9.x

#2390 test(data): add entity action guard tests
  modules/data/spec/actions/entity-action-guard.spec.ts
Labels: Needs Cleanup

#2416 docs(ngrx/data): clarify "entity" concept.
  projects/ngrx.io/content/guide/data/index.md
Labels: Comp: Docs, Project: Data
