Repository ngrx/platform, pull requests merged in 2020-06, with the labels that each got.

#2555 fix(component-store): export EffectReturnFn interface
  modules/component-store/src/component-store.ts
Labels: Project: Component Store

#2430 fix(data): mergeQuerySet uses mergeStrategy
  modules/data/spec/reducers/entity-cache-reducer.spec.ts
  modules/data/src/reducers/entity-cache-reducer.ts
Labels: Needs Review, Project: Data

#2580 feat(component-store): make CS compatible with ViewEngine
  modules/component-store/spec/integration.spec.ts
  modules/component-store/src/component-store.ts
Labels: Project: Component Store

#2547 fix(component): detect zone.js using instanceof comparison
  modules/component/spec/core/utils/has-zone.spec.ts
  modules/component/spec/core/utils/zone-check.spec.ts
  modules/component/spec/fixtures/fixtures.ts
  modules/component/spec/fixtures/mock-ng-zone.ts
  modules/component/src/core/cd-aware/creator_render.ts
  modules/component/src/core/utils/has-zone.ts
  modules/component/src/core/utils/index.ts
  modules/component/src/core/utils/zone-checks.ts
Labels: Project: Component
