Repository ngrx/platform, pull requests merged in 2020-01, with the labels that each got.

#2234 Upgrade angular 9
  .circleci/bazel.rc
  .circleci/config.yml
  .gitignore
  WORKSPACE
  angular.json
  modules/data/schematics-core/BUILD
  modules/data/src/effects/entity-effects.ts
  modules/data/tsconfig-build.json
  modules/effects/schematics-core/BUILD
  modules/effects/spec/types/effect_creator.spec.ts
  modules/effects/testing/tsconfig-build.json
  modules/effects/tsconfig-build.json
  modules/entity/schematics-core/BUILD
  modules/entity/tsconfig-build.json
  modules/router-store/schematics-core/BUILD
  modules/router-store/tsconfig-build.json
  modules/schematics-core/BUILD.bazel
  modules/schematics/schematics-core/BUILD
  modules/schematics/src/container/index.ts
  modules/schematics/src/ng-add/index.ts
  modules/schematics/tsconfig-build.json
  modules/store-devtools/schematics-core/BUILD
  modules/store-devtools/tsconfig-build.json
  modules/store/schematics-core/BUILD
  modules/store/testing/tsconfig-build.json
  modules/store/tsconfig-build.json
  package.json
  projects/example-app/src/app/app-routing.module.ts
  projects/example-app/src/app/auth/components/__snapshots__/logout-confirmation-dialog.component.spec.ts.snap
  projects/example-app/src/app/auth/components/logout-confirmation-dialog.component.spec.ts
  projects/example-app/src/app/auth/containers/__snapshots__/login-page.component.spec.ts.snap
  projects/example-app/src/app/auth/containers/login-page.component.spec.ts
  projects/example-app/src/app/auth/effects/auth.effects.spec.ts
  projects/example-app/src/app/auth/effects/auth.effects.ts
  projects/example-app/src/app/books/containers/__snapshots__/collection-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/__snapshots__/find-book-page.component.spec.ts.snap
  projects/example-app/src/app/books/containers/collection-page.component.spec.ts
  projects/example-app/src/app/books/containers/find-book-page.component.spec.ts
  projects/example-app/src/app/books/containers/selected-book-page.component.spec.ts
  projects/example-app/src/app/books/containers/view-book-page.component.spec.ts
  projects/example-app/src/app/material/material.module.ts
  projects/example-app/tsconfig.app.json
  tools/defaults.bzl
  yarn.lock
Labels: 9.x

#2258 refactor minimal option
  modules/store/schematics/ng-add/index.spec.ts
  modules/store/schematics/ng-add/schema.json
  projects/ngrx.io/content/guide/store/install.md
Labels: 9.x, Breaking Change

#2266 feat(store): enable immutability checks by default
  modules/store/schematics/ng-add/index.spec.ts
  modules/store/schematics/ng-add/index.ts
  modules/store/spec/runtime_checks.spec.ts
  modules/store/src/runtime_checks.ts
Labels: 9.x, Breaking Change

#2254 refactor(schematics): migrate from styleext to style
  angular.json
  modules/schematics/src/container/index.spec.ts
  modules/schematics/src/container/schema.json
  modules/schematics/src/container/schema.ts
  projects/ngrx.io/angular.json
  projects/ngrx.io/content/guide/schematics/container.md
  projects/ngrx.io/content/guide/schematics/index.md
Labels: 9.x, Breaking Change

#2257 feat(component): initial setup
  CONTRIBUTING.md
  build/tasks.ts
  modules/component/BUILD
  modules/component/CHANGELOG.md
  modules/component/README.md
  modules/component/index.ts
  modules/component/package.json
  modules/component/public_api.ts
  modules/component/rollup.config.js
  modules/component/spec/BUILD
  modules/component/spec/placeholder.spec.ts
  modules/component/src/index.ts
  modules/component/src/placeholder.ts
  modules/component/tsconfig-build.json
  projects/ngrx.io/content/guide/component/index.md
  projects/ngrx.io/content/guide/nightlies.md
  projects/ngrx.io/content/navigation.json
  tools/defaults.bzl
  tsconfig.json
Labels: 9.x

#2270 feat(store): add clearResult to reset a mock selector
  modules/store/src/selector.ts
  modules/store/testing/src/mock_store.ts
Labels: Breaking Change

#2255 refactor(schematics): change default value of minimal to true
  modules/effects/schematics/ng-add/schema.json
  projects/ngrx.io/content/guide/effects/install.md
Labels: 9.x, Breaking Change, Needs Cleanup

#2311 test(component): update usage of TestBed.get to TestBed.inject
  projects/ngrx.io/content/examples/testing-store/src/app/user-greeting.component.spec.ts
  projects/ngrx.io/content/guide/effects/testing.md
  projects/ngrx.io/content/guide/migration/v4.md
  projects/ngrx.io/content/guide/store/testing.md
Labels: Needs Cleanup

#2253 fix(schematics): migrate spec to skipTest to be in line with Angular CLI
  modules/effects/schematics/ng-add/index.spec.ts
  modules/effects/schematics/ng-add/index.ts
  modules/effects/schematics/ng-add/schema.json
  modules/effects/schematics/ng-add/schema.ts
  modules/schematics-core/testing/create-workspace.ts
  modules/schematics/src/action/index.spec.ts
  modules/schematics/src/action/index.ts
  modules/schematics/src/action/schema.json
  modules/schematics/src/action/schema.ts
  modules/schematics/src/container/index.spec.ts
  modules/schematics/src/container/index.ts
  modules/schematics/src/container/schema.json
  modules/schematics/src/container/schema.ts
  modules/schematics/src/data/index.spec.ts
  modules/schematics/src/data/index.ts
  modules/schematics/src/data/schema.json
  modules/schematics/src/data/schema.ts
  modules/schematics/src/effect/index.spec.ts
  modules/schematics/src/effect/index.ts
  modules/schematics/src/effect/schema.json
  modules/schematics/src/effect/schema.ts
  modules/schematics/src/entity/index.spec.ts
  modules/schematics/src/entity/index.ts
  modules/schematics/src/entity/schema.json
  modules/schematics/src/entity/schema.ts
  modules/schematics/src/feature/index.spec.ts
  modules/schematics/src/feature/index.ts
  modules/schematics/src/feature/schema.json
  modules/schematics/src/feature/schema.ts
  modules/schematics/src/reducer/index.spec.ts
  modules/schematics/src/reducer/index.ts
  modules/schematics/src/reducer/schema.json
  modules/schematics/src/reducer/schema.ts
  modules/schematics/src/selector/index.spec.ts
  modules/schematics/src/selector/index.ts
  modules/schematics/src/selector/schema.json
  modules/schematics/src/selector/schema.ts
  modules/schematics/src/store/index.spec.ts
  modules/schematics/src/store/schema.json
  modules/schematics/src/store/schema.ts
  projects/ngrx.io/content/guide/effects/install.md
  projects/ngrx.io/content/guide/schematics/action.md
  projects/ngrx.io/content/guide/schematics/data.md
  projects/ngrx.io/content/guide/schematics/effect.md
  projects/ngrx.io/content/guide/schematics/entity.md
  projects/ngrx.io/content/guide/schematics/feature.md
  projects/ngrx.io/content/guide/schematics/reducer.md
  projects/ngrx.io/content/guide/schematics/selector.md
Labels: 9.x, Breaking Change, Needs Cleanup

#2164 fix(effects): dispatch init action once
  modules/effects/spec/effect_sources.spec.ts
  modules/effects/spec/integration.spec.ts
  modules/effects/src/effect_sources.ts
Labels: 9.x, Breaking Change

#2320 refactor(effects): lifecycle methods guards
  modules/effects/src/effect_sources.ts
  modules/effects/src/lifecycle_hooks.ts
Labels: Project: Effects

#2332 fix(data): allow additional selectors in entitySelectors$
  modules/data/src/selectors/entity-selectors$.ts
Labels: Project: Data

#2295 feat(effects): make resubscription handler overridable
  modules/effects/spec/effect_creator.spec.ts
  modules/effects/spec/effect_decorator.spec.ts
  modules/effects/spec/effect_sources.spec.ts
  modules/effects/spec/effects_error_handler.spec.ts
  modules/effects/spec/effects_metadata.spec.ts
  modules/effects/src/effect_creator.ts
  modules/effects/src/effect_sources.ts
  modules/effects/src/effects_error_handler.ts
  modules/effects/src/effects_metadata.ts
  modules/effects/src/effects_module.ts
  modules/effects/src/effects_resolver.ts
  modules/effects/src/index.ts
  modules/effects/src/models.ts
  modules/effects/src/tokens.ts
  modules/store/testing/src/mock_reducer_manager.ts
  projects/example-app/src/app/app.module.ts
  projects/ngrx.io/content/guide/effects/lifecycle.md
Labels: Breaking Change, Project: Effects

#2335 Schematic for customisable error handling migration
  modules/effects/migrations/9_0_0/index.spec.ts
  modules/effects/migrations/9_0_0/index.ts
  modules/effects/migrations/BUILD
  modules/effects/migrations/migration.json
Labels: 9.x
