Repository ngrx/platform, pull requests merged in 2021-01, with the labels that each got.

#2878 docs: add labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Needs Review

#2893 Fix push pipe
  modules/component/spec/core/cd-aware/cd-aware_creator.spec.ts
  modules/component/spec/let/let.directive.spec.ts
  modules/component/spec/push/push.pipe.spec.ts
  modules/component/src/core/cd-aware/cd-aware_creator.ts
Labels: Project: Component

#2883 docs(router-store): show working usage for router-store selectors
  projects/ngrx.io/content/guide/router-store/selectors.md
Labels: Needs Cleanup

#2889 Interface renames
  modules/store/spec/types/action_creator.spec.ts
  modules/store/src/action_creator.ts
  modules/store/src/index.ts
  modules/store/src/models.ts
  modules/store/src/reducer_creator.ts
  projects/ngrx.io/content/guide/migration/v11.md
Labels: Project: Store, Project: ngrx.io

#2894 refactor(store): improve on-function typing
  modules/store/spec/reducer_creator.spec.ts
  modules/store/src/reducer_creator.ts
  package.json
Labels: Project: Store, dependencies
