Repository ngrx/platform, pull requests merged in 2022-05, with the labels that each got.

#3328 perf(component): reset state / trigger CD only if necessary
  modules/component/spec/core/cd-aware/cd-aware_creator.spec.ts
  modules/component/spec/core/cd-aware/render_creator.spec.ts
  modules/component/spec/core/potential-observable.spec.ts
  modules/component/spec/core/render-event/handlers.spec.ts
  modules/component/spec/core/render-event/manager.spec.ts
  modules/component/spec/core/render-scheduler.spec.ts
  modules/component/spec/core/utils/has-zone.spec.ts
  modules/component/spec/let/let.directive.spec.ts
  modules/component/spec/push/push.pipe.spec.ts
  modules/component/src/core/cd-aware/cd-aware_creator.ts
  modules/component/src/core/cd-aware/creator_render.ts
  modules/component/src/core/potential-observable.ts
  modules/component/src/core/render-event/handlers.ts
  modules/component/src/core/render-event/manager.ts
  modules/component/src/core/render-event/models.ts
  modules/component/src/core/render-scheduler.ts
  modules/component/src/core/utils/has-zone.ts
  modules/component/src/let/let.directive.ts
  modules/component/src/push/push.pipe.ts
Labels: 14.x

#3377 feat(component): add suspense template input to LetDirective
  modules/component/.eslintrc.json
  modules/component/spec/fixtures/fixtures.ts
  modules/component/spec/let/let.directive.spec.ts
  modules/component/src/let/let.directive.ts
  projects/ngrx.io/content/guide/component/let.md
Labels: 14.x

#3368 feat(component-store): add OnStoreInit and OnStateInit lifecycle hooks
  modules/component-store/spec/component-store.spec.ts
  modules/component-store/src/index.ts
  modules/component-store/src/lifecycle_hooks.ts
Labels: 14.x

#3380 feat(component): add error as value to LetDirective's context
  modules/component/spec/let/let.directive.spec.ts
  modules/component/src/let/let.directive.ts
  projects/ngrx.io/content/guide/component/let.md
Labels: Breaking Change, 14.x

#3379 feat(component): use global render strategy in zone-less mode
  modules/component/spec/core/render-scheduler.spec.ts
  modules/component/spec/fixtures/fixtures.ts
  modules/component/src/core/render-scheduler.ts
  modules/component/src/push/push.pipe.ts
  projects/ngrx.io/content/guide/component/let.md
  projects/ngrx.io/content/guide/component/push.md
Labels: Breaking Change, 14.x

#3311 feat(schematics): remove creators option
  angular.json
  modules/component-store/schematics-core/utility/ngrx-utils.ts
  modules/component/schematics-core/utility/ngrx-utils.ts
  modules/data/schematics-core/utility/ngrx-utils.ts
  modules/effects/schematics-core/utility/ngrx-utils.ts
  modules/entity/schematics-core/utility/ngrx-utils.ts
  modules/router-store/schematics-core/utility/ngrx-utils.ts
  modules/schematics-core/utility/ngrx-utils.ts
  modules/schematics/schematics-core/utility/ngrx-utils.ts
  modules/schematics/src/action/creator-files/__name@dasherize@if-flat__/__name@dasherize__.actions.spec.ts.template
  modules/schematics/src/action/creator-files/__name@dasherize@if-flat__/__name@dasherize__.actions.ts.template
  modules/schematics/src/action/files/__name@dasherize@if-flat__/__name@dasherize__.actions.spec.ts.template
  modules/schematics/src/action/files/__name@dasherize@if-flat__/__name@dasherize__.actions.ts.template
  modules/schematics/src/action/index.spec.ts
  modules/schematics/src/action/index.ts
  modules/schematics/src/action/schema.json
  modules/schematics/src/action/schema.ts
  modules/schematics/src/effect/files/__name@dasherize@if-flat__/__name@dasherize__.effects.ts.template
  modules/schematics/src/effect/index.spec.ts
  modules/schematics/src/effect/index.ts
  modules/schematics/src/effect/schema.json
  modules/schematics/src/effect/schema.ts
  modules/schematics/src/entity/creator-files/__name@dasherize@if-flat__/__name@dasherize@group-actions__.actions.ts.template
  modules/schematics/src/entity/creator-files/__name@dasherize@if-flat__/__name@dasherize@group-reducers__.reducer.ts.template
  modules/schematics/src/entity/files/__name@dasherize@if-flat__/__name@dasherize@group-actions__.actions.ts.template
  modules/schematics/src/entity/files/__name@dasherize@if-flat__/__name@dasherize@group-models__.model.ts.template
  modules/schematics/src/entity/files/__name@dasherize@if-flat__/__name@dasherize@group-reducers__.reducer.spec.ts.template
  modules/schematics/src/entity/files/__name@dasherize@if-flat__/__name@dasherize@group-reducers__.reducer.ts.template
  modules/schematics/src/entity/index.spec.ts
  modules/schematics/src/entity/index.ts
  modules/schematics/src/entity/schema.json
  modules/schematics/src/entity/schema.ts
  modules/schematics/src/feature/index.spec.ts
  modules/schematics/src/feature/index.ts
  modules/schematics/src/feature/schema.json
  modules/schematics/src/feature/schema.ts
  modules/schematics/src/reducer/creator-files/__name@dasherize@if-flat__/__name@dasherize__.reducer.ts.template
  modules/schematics/src/reducer/files/__name@dasherize@if-flat__/__name@dasherize__.reducer.spec.ts.template
  modules/schematics/src/reducer/files/__name@dasherize@if-flat__/__name@dasherize__.reducer.ts.template
  modules/schematics/src/reducer/index.spec.ts
  modules/schematics/src/reducer/index.ts
  modules/schematics/src/reducer/schema.json
  modules/schematics/src/reducer/schema.ts
  modules/store-devtools/schematics-core/utility/ngrx-utils.ts
  modules/store/schematics-core/utility/ngrx-utils.ts
  projects/ngrx.io/content/guide/schematics/action.md
  projects/ngrx.io/content/guide/schematics/effect.md
  projects/ngrx.io/content/guide/schematics/entity.md
  projects/ngrx.io/content/guide/schematics/feature.md
  projects/ngrx.io/content/guide/schematics/reducer.md
Labels: Breaking Change

#3436 build(example): update dependencies to latest Angular 14-rc version
  projects/ngrx.io/tools/examples/shared/boilerplate/cli/angular.json
  projects/ngrx.io/tools/examples/shared/boilerplate/cli/package-lock.json
  projects/ngrx.io/tools/examples/shared/boilerplate/cli/package.json
  projects/ngrx.io/tools/examples/shared/boilerplate/cli/tsconfig.json
  projects/ngrx.io/tools/examples/shared/package.json
Labels: 14.x

#3440 feat(component): add ability to pass non-observable values & fix types
  modules/component/spec/core/potential-observable.spec.ts
  modules/component/spec/helpers.ts
  modules/component/spec/let/let.directive.spec.ts
  modules/component/spec/push/push.pipe.spec.ts
  modules/component/spec/types/let.directive.types.spec.ts
  modules/component/spec/types/push.pipe.types.spec.ts
  modules/component/spec/types/utils.ts
  modules/component/src/core/potential-observable.ts
  modules/component/src/core/render-event/manager.ts
  modules/component/src/core/render-event/models.ts
  modules/component/src/let/let.directive.ts
  modules/component/src/push/push.pipe.ts
  projects/ngrx.io/content/guide/component/index.md
  projects/ngrx.io/content/guide/component/let.md
Labels: Breaking Change, 14.x
